{% extends "simple-success-message-template.html" %}
{% load albumizer_common %}



{% block page_title %}Payment Received Successfully{% endblock %}



{% block message_page_heading %}Payment Received Successfully{% endblock %}



{% block message_page_content %}

  <div class="paymentInfo">
	  Your payment via Simple Payments service has been received with following information:
	  <table class="paymentDetails">
	    <tbody>
	      <tr><th>Payer:</th><td>{{ order.orderer.first_name }} {{ order.orderer.last_name }}</td></tr>
	      <tr><th>Payee:</th><td>Albumizer Plc.</td></tr>
	      <tr><th>Amount:</th><td></td></tr>
	      <tr><th>Transaction Date:</th><td></td></tr>
	      <tr><th>Reference #:</th><td>{{ payment_id }}</td></tr>
	      <tr><th>Order Date:</th><td>{{ order.purchaseDate }}</td></tr>
	      <tr><th colspan="2">Content of Order:</th></tr>
	      <tr><td colspan="2"></td></tr>
	    </tbody>
	  </table>
    You should receive shortly an email containing this same information.
  
	  <div class="orderInfo">
	    Your order is now being processed, and you will receive an email confirmation when it is sent from
	    our warehouse.<br />
	    Should you have any inquiries about your order, please contact us immediately.
	  </div>
	  
	  <div class="closing">
	    Thank you for ordering our products! We hope to see you here producing and discovering great new albums!
	  </div>    
  </div>

{% endblock %}