{% extends "simple-message-template.html" %}
{% load albumizer_common %}



{% block page_title %}Unsuccessful Payment{% endblock %}



{% block message_page_heading %}Unsuccessful Payment{% endblock %}



{% block message_page_content %}

  <div class="paymentInfo prompt">
    Something unexpected happened during handling of your payment via Simple Payments service.
    We have detected this situation and are resolving any technical issues possibly having occurred.
    Please try to make the payment soon again and kindly contact to our customer service
    for support if necessary.

    <div class="orderInfo">
      Unfortunately, we cannot process your order yet, because it is still unpaid.  
      You can check the status of your order <a href="{{ order_info.order.get_absolute_url }}">here</a>.
    </div>

    We regret any inconvinience this situation might have caused to you. 
  </div>

{% endblock %}