{% extends "base-template.html" %}
{% load albumizer_common %}
{% load url from future %}



{% block page_title %}Shopping Cart{% endblock %}



{% block page_scripts_after %}

  $(function() {
    $("#id_frmShoppingCart .commonActions .proceedButton").button();
  });

{% endblock %}



{% block page_content %}

  <form name="frmShoppingCart" id="id_frmShoppingCart"
        method="post" action="{% url "edit_shopping_cart" %}">
	  <h1>Your Shopping Cart</h1>
	
	  {% show_messages %}
	
	  {% if not cart_info.items %}
	    <p class="prompt promptForEmpty">
	      Your shopping cart is empty. Albums can be added into the cart from their own pages.
	    </p>
	  {% else %}
      {% csrf_token %}
	    <div class="shoppingCartProlog">
	      <div class="prompt">
	        You can manage the content of your shopping cart below by removing products or adjusting their quantities.
	        When you are ready to order, please press the Proceed to Checkout button.
	      </div> 
	  
	      <div class="commonActions">
	          <input type="submit" name="submit.remove.all" class="commonActionLinkButton" 
	                           value="Remove All Items" title="Remove all items from your shopping cart" />
	          <input type="submit" class="commonActionLinkButton" name="submit.save" value="Save Quantities"
	                            title="Save any modifications made to the quantities below" />
	          <input type="submit" class="proceedButton" name="submit.proceed" value="Proceed to Checkout" 
	                            title="Accept the current content of shopping cart and start the checking-out process" />
	      </div>
      <div style="clear: both;"></div>
      </div>
	    <div class="shoppingCart">
		    <table class="headerRowTable">
		      <tbody>
			      <tr>
			        <th class="itemColumn">Album</th>
			        <th class="quantityColumn">Quantity</th>
			        <th class="unitPriceColumn">Unit Price</th>
			        <th class="rowTotalColumn">Row Total</th>
			      </tr>
			    </tbody>
		    </table>
		    {% for item, item_info in cart_info.items.items %}
			    <table class="itemRowTable">
			      <tbody>
			        <tr>
			          <td class="itemColumn">
			            <a href="{{ item.get_absolute_url }}"><img src="{{ item.get_cover_url }}"
			                 alt="Cover of {{ item.title }}" title="Cover of {{ item.title }}" /></a>
			            <div class="item1stRow">
			              <a href="{{ item.url }}">{{ item.title }}</a> &mdash;
			              <span class="creator">{{ item.owner }}</span>
			            </div>
			            <div class="item2ndRow">{{ item.description }}</div>
                  <div class="item3rdRow">
                    <input type="submit" name="submit.remove.{{ item.id }}"
                           value="Remove" title="Remove '{{ item.title }}' from your shopping cart" />
                  </div>
			          </td>
			          <td class="quantityColumn">
			            <input type="text" name="itemcount.{{ item.id }}" 
			                   pattern="^[0-9]{1,2}$"
			                   title="Quantities must be integers between 0 and 99."
			                   x-moz-errormessage="Quantities must be integers between 0 and 99."
			                   value="{{ item_info.quantity }}" size="2" />
			          </td>
			          <td class="unitPriceColumn">{{ item_info.unit_price|floatformat:"2" }} &euro;</td>
			          <td class="rowTotalColumn">{{ item_info.sub_total|floatformat:"2" }} &euro;</td>
			        </tr>
			      </tbody>	      
			    </table> 
		    {% endfor %}
		    <table class="subtotalRowTable">
			    <tr>
			      <td>
			        You have {{ cart_info.items|length }} item{{ cart_info.items|length|pluralize }} in the shopping cart.
			        Subtotal: <span class="subTotal">{{ cart_info.sub_total|floatformat:"2" }} &euro;</span>
			      </td>
		      </tr>
		    </table>
		  </div>
	    <div class="disclaimer">
	      The price and availability of albums at {{ site_name }} are subject to change.
	    </div>
    {% endif %}
  </form>


  {% random_picks_album_list 8 %}
  
{% endblock %}