{% extends "base-template.html" %}
{% load url from future %}



{% block page_title %}Shopping Cart{% endblock %}



{% block page_scripts_after %}

  $(function() {
    $("#id_frmShoppingCart .commonActions .updateButton").button();
    $("#id_frmShoppingCart .commonActions .proceedButton").button();
  });
  $(window).load(function() {

    $("#frmLogin").submit(function() {
      $("#id_cmdLogIn").button("option", "disabled", true);
      return true;  
    })
  });

{% endblock %}



{% block page_content %}

  <h1>Your Shopping Cart</h1>
  
  {% if not item_info %}
    <p>Your shopping cart is empty.</p>
  {% else %}
    {% if messages %}
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    {% endif %}
  
    <form name="frmShoppingCart" id="id_frmShoppingCart"
          method="post" action="{% url "edit_shopping_cart" %}">
      {% csrf_token %}
      <div class="commonActions">
        <input type="submit" class="updateButton" name="submit.update" value="Update Shopping Cart" />
        <input type="submit" class="proceedButton" name="submit.proceed" value="Proceed to Checkout" />
      </div>
	    <div class="shoppingCart">
		    <table class="headerRowTable">
		      <tbody>
			      <tr>
			        <th class="itemColumn">Album</th>
			        <th class="quantityColumn">Quantity</th>
			        <th class="unitPriceColumn">Unit Price</th>
			        <th class="rowTotalColumn">Row Total</th>
			      </tr>
			    </tbody>
		    </table>
		    {% for item in item_info %}
			    <table class="itemRowTable">
			      <tbody>
			        <tr>
			          <td class="itemColumn">
			            <a href="{{ item.url }}"><img src="{{ item.coverUrl }}" alt="Cover of {{ item.title }}" title="Cover of {{ item.title }}" /></a>
			            <div class="item1stRow">
			              <a href="{{ item.url }}">{{ item.title }}</a> &mdash;
			              <span class="creator">{{ item.creator }}</span>
			            </div>
			            <div class="item2ndRow">{{ item.description }}</div>
                  <div class="item3rdRow"><input type="submit" name="submit.remove.{{ item.id }}" value="Remove" /></div>
			          </td>
			          <td class="quantityColumn">
			            <input type="text" name="itemcount.{{ item.id }}" value="{{ item.number_of_units }}" size="2" />
			          </td>
			          <td class="unitPriceColumn">{{ item.unit_price|floatformat:"2" }} &euro;</td>
			          <td class="rowTotalColumn">{{ item.row_total|floatformat:"2" }} &euro;</td>
			        </tr>
			      </tbody>	      
			    </table> 
		    {% endfor %}
		    <table class="subtotalRowTable">
			    <tr>
			      <td>
			        You have {{ item_info|length }} item{{ item_info|length|pluralize }} in the shopping cart. Subtotal:
			        <span class="subTotal">{{ sub_total_price|floatformat:"2" }} &euro;</span>
			      </td>
		      </tr>
		    </table>
		    <div class="commonActions">
          <input type="submit" class="updateButton" name="submit.update" value="Update Shopping Cart" />
		      <input type="submit" class="proceedButton" name="submit.proceed" value="Proceed to Checkout" />
		    </div>
		  </div>
		</form>
		
		The price and availability of albums at {{ site_name }} are subject to change.
  {% endif %}

{% endblock %}