{% extends "base-template.html" %}
{% load albumizer_common %}
{% load url from future %}



{% block page_title %}Checkout Completed Successfully{% endblock %}



{% block page_content %}

  <div id="checkoutSuccessful">
	  <h1>Checkout Completed Successfully</h1>
	  {% show_messages %}

    <div class="prompt">
      Your <a href="{% url "show_single_order" order_info.order.id %}">order</a> has been placed successfully,
      but it won't be processed until we receive your payment.<br />
      The accepted payment methods are listed below. Please initiate the payment by clicking
      the link of the payment service you want to use.  
    </div>

    {% payment_services %}
		
    <div class="disclaimer">
      After you initiate the payment, you will be directed to the system of the payment service you chose.
      The payment will be completed in the systems of that payment service.
    </div>
    <div class="disclaimer">
      No banking information will be asked or handled by or is to be entered into the Albumizer service.
      We only receive information about completion of the payment. 
    </div>
  </div>

  {% random_picks_album_list 8 %}

{% endblock %}
