{% load url from future %}
{% load albumizer_common %}




  {% if payment_info %}
    <div class="paymentDetails ui-corner-all"{% if container_style %} style="{{ container_style }}"{% endif %}>
      <div class="groupHeader ui-corner-all">Payment Details</div>
      <div class="groupContent ui-corner-all">
        <div class="detail">
          <div class="detailTitle">Order Date:</div>
          <div class="detailValue" title="{{ payment_info.order_date|date:"c" }}">{{ payment_info.order_date|date:"j.n.Y \a\t G.i" }}</div>
        </div>
        <div class="detail">
          <div class="detailTitle">Payer:</div>
          <div class="detailValue">{{ payment_info.payer }}</div>
        </div>
        <div class="detail">
          <div class="detailTitle">Payee:</div>
          <div class="detailValue">{{ payment_info.payee }}</div>
        </div>
        <div class="detail">
          <div class="detailTitle">Amount:</div>
          <div class="detailValue">{{ payment_info.amount|mto2dstr }}&nbsp;&euro;</div>
        </div>
        <div class="detail">
          <div class="detailTitle">Via:</div>
          <div class="detailValue">{{ payment_info.via }}</div>
        </div>
        <div class="detail">
          <div class="detailTitle">Transaction Date:</div>
          <div class="detailValue" title="{{ payment_info.transaction_date|date:"c" }}">{{ payment_info.transaction_date|date:"j.n.Y \a\t G.i" }}</div>
        </div>
        <div class="detail">
          <div class="detailTitle">Reference #:</div>
          <div class="detailValue">{{ payment_info.reference_code }}</div>
        </div>
        {% if payment_info.clarification %}
	        <div class="detail">
	          <div class="detailTitle">Clarification:</div>
	          <div class="detailValue">{{ payment_info.clarification }}</div>
	        </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
