    <div id="tweet-{{ id }}" class="show-twitter-tweet">
      <blockquote class="twitter-tweet tw-align-center" lang="en"><p>The Albumizer team is excited about this new web site and hopes to see you all here making albums! <a href="http://t.co/0EONiQee" title="{{ site_domain }}">{{ site_name }}</a> <a href="https://twitter.com/search/%2523{{ twitter_hashtag }}">#{{ twitter_hashtag }}</a></p>&mdash; {{ twitter_account }} (@{{ twitter_account }}) <a href="https://twitter.com/{{ twitter_account }}/status/166281721048866816" data-datetime="2012-02-05T22:07:06+00:00">helmikuu 5, 2012</a></blockquote>
      <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <script type="text/javascript">
      //<![CDATA[
        $(window).load(function() {
          $("div#tweet-{{ id }}").css("display", "block");
        });
      //]]>
    </script>