{% load url from future %}

{% if twitter_account and twitter_hashtag and site_domain %}
  <div id="twitter-tweet-button-album-container-{{ id }}" class="twitter-tweet-button-album-container">
    <a href="https://twitter.com/intent/tweet?button_hashtag={{ twitter_hashtag }}&amp;text=Hey!%20Some%20cool%20photos:%20{{ album.title|urlencode }}" 
       class="twitter-hashtag-button" 
       data-url="http://{{ site_domain }}{% url "show_single_album" album.id %}">Tweet #{{ twitter_hashtag }}</a>

	  <script>
	    !function(d, s, id) {
	      var js, fjs = d.getElementsByTagName(s)[0];
	      
	      if (!d.getElementById(id)){
	        js=d.createElement(s);
	        js.id=id;
	        js.src="//platform.twitter.com/widgets.js";
	        fjs.parentNode.insertBefore(js, fjs);
	      }
	    }(document, "script", "twitter-wjs");
	  </script>
  </div>

  <script type="text/javascript">
    //<![CDATA[
      $(window).load(function() {
    	  $("div#twitter-tweet-button-album-container-{{ id }}").css({
    		  "display": "none",
    		  "visibility": "visible"    		      		  
    	  });
    	  $("div#twitter-tweet-button-album-container-{{ id }}").show("fade", {}, 2000);
      });
    //]]>
  </script>
{% endif %}
  