@charset "utf-8";


* {
  margin:                    0em;
  padding:                   0em;
}

body {
  font-family:               "Tahoma", Arial, Helvetica, sans-serif;
  font-size:                 8pt;
  background:                #ffffff;
  color:                     #000000;
}

#pageContainer {
  margin:                    0em auto;
  width:                     902px;
  background:                #ffffff;
  color:                     #000000;
}

#pageHeader {
	margin-top:                1em;  
	border-bottom:             1px solid #bb8800;
	margin-bottom:             2em;
}

#pageHeaderLeftPart {
  float:                     left;
}

#pageHeaderRightPart {
  text-align:                right; 
}

#pageHeaderSlogan {
	margin-left:               0.4em;
  background:                #ffffff;
  color:                     #88dd00;
	font-size:                 200%;
	font-style:                italic;
}

#pageContent {
 
}

#pageFooter {
  clear:                     both;
  margin-top:                2em;
  margin-bottom:             2em;
  padding-top:               0.2em;
  border-top:                1px solid #eeeeee;
  background:                #ffffff;
  color:                     #cccccc;
}

#pageFooter a {
  background:                #ffffff;
  color:                     #cccccc;
  text-decoration:           none;
}

#pageFooter a:hover {
  background:                #ffffff;
  color:                     #aaaaaa;
}

#pageFooterLeftPart {
	float:                     left;	
}

#pageFooterRightPart {
  text-align:                right; 
}

.clear-floats {
  clear:                     both;
}

.header-link {
	display:                   block;
	float:                     right;
	font-size:                 120%;
	font-weight:               bold;
	text-decoration:           none;
	margin:                    0.3em 0em 0em 1em;
  background:                #ffffff;
  color:                     #88cc88;
}

.header-link:hover {
  background:                #ffffff;
	color:                     #559955;
}

.dialog {
	display:                   none;
}

.dialog fieldset {
	padding:                   0em 1em 1em 0.5em;
	margin-top:                0.5em;
}

.dialog label, .dialog input {
	display:                   block;
	width:                     100%;
	margin-right:              1em;
}

.dialog label {
	margin-top:                0.5em;
	margin-bottom:             0.2em;
}

.dialog input.text {
  padding-left:              0.3em;
}

h1 {
  background:                #ffffff;
	color:                     #339933;
	font-size:                 150%;
	margin-bottom:             1em;
	/*text-shadow:               1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;*/
}

p {
	margin-bottom:             1em;
	font-size:                 110%;
}

figure,
figcaption,
address {
	display:                   inline;
}

img {
	border:                    0em;
}

.simpleMessagePageContent {
	margin-bottom:             7em;
}









.paymentInfo .paymentDetails {
  margin:                    1em 0em;
  padding:                   1em 3em;
	background:                #f8f8f8;
	border:                    1px solid #eeeeee;
}

.paymentInfo .paymentDetails th {
	padding:                   0.2em;
  text-align:                left;
  color:                     #888888;
  width:                     12em;
}

.paymentInfo .orderInfo {
	margin:                    2em 0em;
}

.paymentInfo .closing {
  margin-top:                3em;
  font-size:                 120%;
  font-style:                italic;
}










#albumpagewrapper {
	width:600px;
}

.albumpagecontainer {
	/* use border to separate album page content from the html page */
	border:1px solid black;
	height:400px;
	width:600px;
}

.previousLink {
	float:left;
}
.nextLink {
	float:right;
}




















#welcomePageSplash {
	height:                    200px;
	border:                    1px solid #eeeeee;
	margin-bottom:             1em;
}

#welcomePageMainContent {
  float:                     left;
  margin-bottom:             1em;
}

#welcomePageMainContent.hasWidth {
  width:                     63em;
}

.welcomePageIntroductionTabHeading {
	font-weight:               bold;
	margin-bottom:             0.3em;
}

#welcomePageIntroductionTabs {
	display:                   none;
}

#welcomePageRightColumn {
  float:                     right;
	width:                     20em;
  margin-bottom:             1em;
} 

#welcomePageAlbumList {
  padding:                   0.7em;
  margin:                    0em 0em 0.5em 0.5em;
  overflow:                  hidden;
  text-overflow:             ellipsis;
  -o-text-overflow:          ellipsis;
}

#welcomePageAlbumListHeading {
  font-weight:               bold;
  margin-bottom:             0.4em;
  padding:                   0.3em;
}

.welcomePageAlbumListItem .offer-sell,
.welcomePageAlbumListItem .lister,
.welcomePageAlbumListItem .permalink {
  display:                   none;
}

.welcomePageAlbumListItem .item .fn {
  font-weight:               bold;
}

.welcomePageAlbumListItem a {
  text-decoration:           none;
}

.welcomePageAlbumListItem .item:hover {
	color:                     blue;
}

#welcomePageAlbumList .creationDate {
	display:                   block;
	margin-bottom:             0.4em;
	font-size:                 95%;
}









.randomPickAlbumsList {
	margin-top:                3em;
	margin-bottom:             1em;
}

.randomPickAlbumsListTitle {
	float:                     left;
	font-size:                 150%;
	font-weight:               bold;
  background:                #ffffff;
  color:                     #6699cc;
  margin:                    0em 2em 1em 0em;
}

.randomPickAlbumsListSeeMoreLink {
	float:                     left;
	display:                   block;
  margin:                    0.4em 0em 0em 0em;
  text-decoration:           none;
}

.randomPickAlbumsListSeeMoreLink:hover {
	background:                #ffffff;
  color:                     maroon;
}

.randomPickAlbumsListTable {
  clear:                     both;
	width:                     100%;
}

.randomPickAlbumsListTable td {
	vertical-align:            top;
	text-align:                center;
	padding-bottom:            0.5em;
}

.randomPickAlbumsListItemContainer {
  width:                     15.1em;
  height:                    19.5em;
  overflow:                  hidden;
}

.randomPickAlbumsListItemContainer .offer-sell,
.randomPickAlbumsListItemContainer .lister,
.randomPickAlbumsListItemContainer .dtlisted, 
.randomPickAlbumsListItemContainer .permalink {
  display:                   none;
} 

.randomPickAlbumsListItemWrapperHidden {
	display:                   none;
}

.randomPickAlbumsListTable a {
  text-decoration:           none;
}

.randomPickAlbumsListItemImage {
	display:                   block;
	width:                     15em;
	height:                    15em;
  border:                    1px solid #eeeeee;
  overflow:                  hidden;
  text-overflow:             ellipsis;
  -o-text-overflow:          ellipsis;
}

.randomPickAlbumsListItemTitle {
  width:                     15em;
	margin-top:                0.5em;
	background:                #ffffff;
  color:                     #000000;
  overflow:                  hidden;
  text-overflow:             ellipsis;
  -o-text-overflow:          ellipsis;
}








a.albumListItem {
float:left;
text-decoration:none;
margin:10px 4px;
width:174px;
}

.albumList a:first-child, .albumList a.firstOnRow {
margin-left:0em;
}

.albumList a.lastOnRow {
margin-right:0em;
}

.albumListItemTitle {
font-size:1em;
text-align:center;
word-wrap:break-word;
}

.albumListItemImage {
display:block;
width:172px;
height:172px;
border:1px solid #eeeeee;
}

.clear {
clear:both;
}






.show-twitter-tweet {
  display:                   none;
	margin-top:                6em;
  margin-bottom:             3em;
}

.twitter-follow-button-container {
  display:                   none;
	margin-top:                1em;
}

.twitter-tweet-button-album-container {
  margin-top:                1em;
}

.twitter-tweet-button-album-container a {
  display:                   none;
}









.albumizerUsageNotice {
	margin-top:                2em;
	text-align:                center;
}

.albumizerUsageNotice .firstLine {
  font-size:                 120%;
  font-weight:               bold;
  margin-bottom:             0.3em;
  background:                #ffffff;
  color:                     #cc11dd;  
}

.albumizerUsageNotice .secondLine {
  font-size:                 110%;
  background:                #ffffff;
  color:                     #333333;
}



























.commonFormErrorList {
	padding:                   0.5em 1em;
	margin-bottom:             2em;
}

.commonFormErrorList td {
	vertical-align:            top;
}

.commonFormErrorList td li {
  margin-left:               2em;
}

.commonFormErrorList .ui-icon {
  margin-right:              0.5em;
}

.commonFormErrorList .errorMessage {
  display:                   inline-block;
  margin-top:                0.1em;
}

.commonForm fieldset {
  margin-bottom:             2em;
  padding:                   0em 1em 1em 1em;
}

.commonForm .formSectionTitle {
  padding:                   0.5em;
  background-color:          #777777;
  font-size:                 120%;
  font-weight:               bold;
  color:                     #efefef;
}

.commonForm fieldset {
  border:                    none;
}

.commonForm label {
  display:                   inline-block;
  width:                     13em;
}

.commonForm textarea {
  width:                     50em;
  min-width:                 10em;
  max-width:                 60em;
  min-height:                3em;
} 

.commonForm .requiredLabel {
  font-weight:               bold;
}

.commonForm .requiredLabel .ui-icon {
  display:                   inline-block;
  position:                  absolute;
  margin:                    -0.2em 0em 0em 0.4em;
}

.commonForm .infoRow {
  margin-top:                1em;
  font-size:                 110%;
  line-height:               1.5em;
}

.commonForm .fieldRow {
	margin-top:                1em;
  vertical-align:            top;
}

.commonForm .fieldRow label {
  float:                     left;
  padding-top:               0.2em;
}

.commonForm .fieldRow div label {
  float:                     none;
}

.commonForm .fieldRow div {
  margin-left:               13em;
}

.commonForm .fieldRow ul {
  display:                   inline;  
}

.commonForm .fieldRow li {
  display:                   inline-block;
  width:                     5em;
}

.commonForm .helpRow {
  margin-top:                0.2em;
  padding-left:              13em;
  color:                     #888888;
}

.commonForm .errorRow {
  margin:                    0.5em 0em 2em 13em;
}

.commonForm .errorMessage {
  color:                     #dd0000;
  font-weight:               bold;
}



















#frmRegister #errorRowHomePhone {
  margin:                    0.5em 0em 0em 13em;
}

#frmRegister #errorRowServiceConditions {
  margin-top:                0.5em;
}

#frmRegister #lblServiceConditionsAccepted {
	display:                   inline-block;
  width:                     50em;
  position:                  absolute;
	margin:                    0em 0em 0em 0.7em;
}

#frmRegister #id_cmdRegister {
	margin-top:                2em;
	width:                     12em;
}







#frmCreateAlbum #id_chkPublicAlbum {
  float:                     none;
  margin-left:               10.4em;
}

#frmCreateAlbum #lblPublicAlbum {
  float:                     none;
  position:                  absolute;
  margin:                    0em 0em 0em 0.8em;
}

#frmCreateAlbum #id_cmdCreateAlbum {
  margin-top:                2em;
  margin-left:               10.3em;
  width:                     12em;
}




















#frmLogin {
	width:                     45em;
}

#frmLogin #id_txtLoginUserName,
#frmLogin #id_txtLoginPassword {
  width:                     25em;
}

#frmLogin label {
  width:                     10em;
}

#frmLogin .helpRow {
  margin-top:                0.2em;
  padding-left:              13em;
  color:                     #888888;
}

#frmLogin .errorRow {
  margin:                    0.5em 0em 2em 10em;
}

#frmLogin #id_cmdLogIn {
  margin-top:                1em;
  margin-left:               9.1em;
  width:                     12em;
}




.albumBrowser h1 {
  float:                     left;
	width:                     25em;
	margin-bottom:             0.5em;
  margin-right:              1.5em;
}

.albumBrowser .actionButtonContainer {
  float:                     right;
} 

.albumBrowser .detailRow {
  clear:                     both;
	margin-bottom:             0.2em;
  background:                #ffffff;
  color:                     #666666;
}

.albumBrowser .description {
	width:                     50em;
	margin-top:                1em;
  margin-bottom:             1em;
}

.albumBrowser .twitter-tweet-button-album-container {
  margin-top:                0em;
}

.albumBrowser .offer-sell,
.albumBrowser .lister {
	display:                   none;
}

.albumBrowser .urlContainer {
	display:                   block;
  margin-top:                1em;
  font-size:                 90%;
  background:                #ffffff;
  color:                     #666666;
}

.albumBrowser .urlContainer a {
  background:                #ffffff;
  color:                     #779977;
  text-decoration:           none;
}

.albumBrowser .urlContainer a:hover {
  background:                #ffffff;
	color:                     #446644;
}

.albumBrowser .urlContainer .secretUrl {
  display:                   block;
  background:                #ffffff;
  color:                     #779977;
}

.albumBrowser .publicUrlContainer .url {
  white-space:               nowrap;
}

.albumBrowser .secretUrlContainer .secretUrl {
  white-space:               nowrap;
}

.albumBrowser .secretUrlContainer .helpText {
  display:                   block;
}

.albumBrowser .noPagesNotice {
	margin-top:                4em;
	margin-bottom:             7em;
	font-size:                 110%;
	font-weight:               bold;
  background:                #ffffff;
  color:                     #779977;
}




























#id_frmShoppingCart .commonActions {
	width:                     100%;
	text-align:                right;
	margin:                    1em 0em 1em 0em;
}

#id_frmShoppingCart .commonActions input {
  margin:                    0em 0em 0em 1em;
}

#id_frmShoppingCart .commonActions .commonActionLinkButton {
  display:                   inline-block;
  border:                    none;
  background:                #ffffff;
  color:                     #336699;
  text-decoration:           underline;
  cursor:                    pointer;
  margin:                    0em;
  padding:                   0em;
}

#id_frmShoppingCart .disclaimer {
	margin-top:                1em;
	margin-bottom:             4em;
	text-align:                right;
  background:                #ffffff;
  color:                     #555555;
}

.shoppingCart table {
  width:                     100%;
}

.shoppingCart .headerRowTable {
	font-size:                 90%;
	background:                #ffffff;
	color:                     #444444;
}

.shoppingCart .itemRowTable,
.shoppingCart .subtotalRowTable {
  border-top:                1px solid #888888; 
}

.shoppingCart tr {
	vertical-align:            top;
}

.shoppingCart th {
	padding:                   0.2em 0.4em 0.2em 0em;
}

.shoppingCart td {
	padding:                   0.5em 0.4em 2em 0em;
}

.shoppingCart .itemColumn {
  width:                     70%;                                
	text-align:                left;
}

.shoppingCart .itemColumn img {
  display:                   block;
  float:                     left;
  width:                     8em;
  height:                    8em;
  margin-right:              2em;
  border:                    1px solid #aaaaaa;
  background:                #dddddd;
  color:                     #888888;
  padding-top:               0.3em;
  text-align:                center;
  overflow:                  hidden;
  text-overflow:             ellipsis;
  -o-text-overflow:          ellipsis;
}

.shoppingCart .itemColumn img:hover {
	border:                    1px solid #aa0000;
}

.shoppingCart .itemColumn .item1stRow {
  margin:                    0em 0em 1em 10.4em;
}

.shoppingCart .itemColumn .item1stRow a {
  font-size:                 120%;
  font-weight:               bold;
  text-decoration:           none;
  background:                #ffffff;
  color:                     #336699;
}

.shoppingCart .itemColumn .item1stRow a:hover {
  text-decoration:           underline;
  background:                #ffffff;
  color:                     #aa0000;
}

.shoppingCart .itemColumn .item1stRow .creator {
  background:                #ffffff;
  color:                     #444444;
}

.shoppingCart .itemColumn .item2ndRow {
  margin:                    0em 0em 0em 10.5em;
	background:                #ffffff;
  color:                     #444444;
}

.shoppingCart .itemColumn .item3rdRow {
	margin:                    1em 0em 0em 10em;
}

.shoppingCart .itemColumn .item3rdRow input {
	display:                   inline-block;
	background:                #ffffff;
  color:                     #336699;
  border:                    none;
	text-decoration:           underline;
	cursor:                    pointer;
	margin:                    0em;
  padding:                   0em;
}

.shoppingCart .quantityColumn {
  width:                     10%;                                
	text-align:                center;
}

.shoppingCart .quantityColumn input {
  text-align:                center;
}

.shoppingCart .itemRowTable .quantityColumn,
.shoppingCart .itemRowTable .unitPriceColumn,
.shoppingCart .itemRowTable .rowTotalColumn {
  font-size:                 110%;
}

.shoppingCart .itemRowTable .rowTotalColumn {
  background:                #ffffff;
  color:                     #aa0000;
  font-weight:               bold;
}

.shoppingCart .unitPriceColumn {
  width:                     10%;
	text-align:                right;       
}

.shoppingCart .rowTotalColumn {
  width:                     10%;                                
	text-align:                right;           
}

.shoppingCart .subTotalRow {
  text-align:                right;
}

.shoppingCart .subtotalRowTable td {
  padding-bottom:            0em;           
}

.shoppingCart .subtotalRowTable {
	text-align:                right;
	font-size:                 130%;
	font-weight:               bold;
}

.shoppingCart .subtotalRowTable .subTotal {
  background:                #ffffff;
  color:                     #880000;
}













