@charset "utf-8";


*:not(fieldset, input[type="submit"]) {
  margin:                    0em;
  padding:                   0em;
}

body {
  font-family:               "Tahoma", Arial, Helvetica, sans-serif;
  font-size:                 8pt;
  background:                #ffffff;
  color:                     #000000;
}

#pageContainer {
  margin:                    0em auto;
  width:                     85em;
  background:                #ffffff;
  color:                     #000000;
}

#pageHeader {
  margin-top:                1em;  
  margin-bottom:             3em;
}

#pageHeader #row1 {
  border-bottom:             1px solid #bb8800;
  padding-bottom:            0.5em;
}

#pageHeader #row1 figure {
  display:                   inline;
}

#pageHeader #row1 #slogan {
  display:                   inline;
  margin-left:               0.4em;
  background:                #red;
  color:                     #66cc00;
  font-size:                 200%;
  font-style:                italic;
}

#pageHeader #row1 #rightPart {
  float:                     right;
  padding-top:               1em;
}

#pageHeader #row1 #rightPart .userName {
  font-size:                 120%;
  font-weight:               bold;
  color:                     #888888;
}

#pageHeader #row2 {
  border-bottom:             2px solid #bb8800;
}

#pageHeader #row2 .table {
  display:                   table;
  width:                     100%;
}

#pageHeader #row2 .table nav {
  display:                   table-row;
}

.headerNavLink {
  padding:                   0.5em;
  font-size:                 120%;
  font-weight:               bold;
  text-decoration:           none;
  margin:                    0.3em 0em 0em 1em;
  background:                #ffffff;
  color:                     #88cc88;
}

#pageHeader #row2 nav a {
  display:                   table-cell;
  text-align:                center;
  width:                     auto;
}

#pageHeader #row2 nav a:hover {
  background:                #eeffdd;
  color:                     #559955;
}

#pageFooter {
  clear:                     both;
  margin-top:                2em;
  margin-bottom:             2em;
  padding-top:               0.2em;
  border-top:                1px solid #dddddd;
  background:                #ffffff;
  color:                     #bbbbbb;
}

#pageFooter a {
  background:                #ffffff;
  color:                     #cccccc;
  text-decoration:           none;
}

#pageFooter a:hover {
  background:                #ffffff;
  color:                     #aaaaaa;
}

#pageFooterLeftPart {
  float:                     left;  
}

#pageFooterRightPart {
  text-align:                right; 
}

.clear-floats {
  clear:                     both;
}

.dialog {
  display:                   none;
}

.dialog fieldset {
  padding:                   0em 1em 1em 0.5em;
  margin-top:                0.5em;
}

.dialog label, .dialog input {
  display:                   block;
  width:                     100%;
  margin-right:              1em;
}

.dialog label {
  margin-top:                0.5em;
  margin-bottom:             0.2em;
}

.dialog input.text {
  padding-left:              0.3em;
}

h1 {
  background:                #ffffff;
  color:                     #339933;
  font-size:                 150%;
  margin-bottom:             1.3em;
  text-shadow:               1px 1px 2px #aaaaaa;
}

p {
  margin-bottom:             1em;
}

figure,
figcaption,
address {
  display:                   inline;
  margin:                    0em;
}

img {
  border:                    0em;
}

.prompt {
  font-size:                 110%;
  color:                     #bb7700;
  font-weight:               bold;
}

.simpleMessagePageContent {
  margin-bottom:             7em;
}




















.albumpagewrapper {
  width:600px;
}

.albumpagecontainer {
  /* use border to separate album page content from the html page */
  border:1px solid black;
  height:400px;
  width:600px;
}

.previousLink {
  float:left;
}
.nextLink {
  float:right;
}




















#welcomePageSplash {
  height:                    160px;
  border:                    1px solid #eeeeee;
  margin-bottom:             1em;
  background:                url("../images/front-page-banner.jpg");
}

#welcomePageMainContent {
  float:                     left;
  margin-bottom:             1em;
}

#welcomePageMainContent.hasWidth {
  width:                     63em;
}

.welcomePageIntroductionTabHeading {
  font-weight:               bold;
  margin-bottom:             0.3em;
}

#welcomePageIntroductionTabs {
  display:                   none;
}

#welcomePageRightColumn {
  float:                     right;
  width:                     20em;
  margin-bottom:             1em;
} 

#welcomePageAlbumList {
  padding:                   0.7em;
  margin:                    0em 0em 0.5em 0.5em;
  overflow:                  hidden;
  text-overflow:             ellipsis;
  -o-text-overflow:          ellipsis;
}

#welcomePageAlbumListHeading {
  font-weight:               bold;
  margin-bottom:             0.4em;
  padding:                   0.3em;
}

.welcomePageAlbumListItem .offer-sell,
.welcomePageAlbumListItem .lister,
.welcomePageAlbumListItem .permalink {
  display:                   none;
}

.welcomePageAlbumListItem .item .fn {
  font-weight:               bold;
}

.welcomePageAlbumListItem a {
  text-decoration:           none;
}

.welcomePageAlbumListItem .item:hover {
  color:                     blue;
}

#welcomePageAlbumList .creationDate {
  display:                   block;
  margin-bottom:             0.4em;
  font-size:                 95%;
}









.randomPickAlbumsList {
  margin-top:                3em;
  margin-bottom:             1em;
}

.randomPickAlbumsListHeader {
  background:                #ccffaa;
  padding:                   0.2em 1em;
}

.randomPickAlbumsListTitle {
  display:                   inline-block;
  font-size:                 150%;
  font-weight:               bold;
  color:                     #779955;
  margin-right:              1em;
  padding:                   0.2em 0.5em;
}

.randomPickAlbumsListSeeMoreLink {
  display:                   inline-block;
  margin:                    0.4em 0em 0em 0em;
  color:                     #779955;
  font-size:                 110%;
  text-decoration:           none;
}

.randomPickAlbumsListSeeMoreLink:hover {
  color:                     green;
}

.randomPickAlbumsListTable {
  clear:                     both;
  width:                     100%;
  padding-top:               1em;
  border:                    1px solid #ccffaa;
}

.randomPickAlbumsListTable td {
  vertical-align:            top;
  text-align:                center;
  padding-bottom:            0.5em;
}

.randomPickAlbumsListItemContainer {
  display:                   inline-block;
  width:                     15.1em;
  height:                    19.5em;
  overflow:                  hidden;
}

.randomPickAlbumsListItemContainer .offer-sell,
.randomPickAlbumsListItemContainer .lister,
.randomPickAlbumsListItemContainer .dtlisted, 
.randomPickAlbumsListItemContainer .permalink {
  display:                   none;
} 

.randomPickAlbumsListItemWrapperHidden {
  display:                   none;
}

.randomPickAlbumsListTable a {
  text-decoration:           none;
}

.randomPickAlbumsListItemImage {
  display:                   block;
  width:                     15em;
  height:                    15em;
  overflow:                  hidden;
  text-overflow:             ellipsis;
  -o-text-overflow:          ellipsis;
  -moz-box-shadow:           2px 2px 5px #888;
  -webkit-box-shadow:        2px 2px 5px #888;
  box-shadow:                2px 2px 5px #888;
}

.randomPickAlbumsListItemTitle {
  display:                   inline-block;
  width:                     15em;
  margin-top:                0.5em;
  background:                #ffffff;
  color:                     #000000;
  overflow:                  hidden;
  text-overflow:             ellipsis;
  -o-text-overflow:          ellipsis;
}






.center {
    text-align:center;
}

.albumListItem {

float:left;
text-decoration:none;
margin:1em 1.25em;
width:15em;
}

.albumList div:first-child, .albumList div.firstOnRow {
margin-left:0em;
}

.albumList div.lastOnRow {
margin-right:0em;
}

.albumListItemTitle {
font-size:1em;
text-align:center;
word-wrap:break-word;
}

.albumListItemImage {
display:block;
width:14.8em;
height:14.8em;
border:0.1em solid #eeeeee;
}

.clear {
clear:both;
}






.show-twitter-tweet {
  display:                   none;
  margin-top:                6em;
  margin-bottom:             3em;
}

.twitter-follow-button-container {
  display:                   none;
  margin-top:                1em;
}

.twitter-tweet-button-album-container {
  visibility:                hidden;
  margin-top:                1em;
}

.twitter-tweet-button-album-container a {
  display:                   none;
}









.albumizerUsageNotice {
  margin-top:                2em;
  text-align:                center;
}

.albumizerUsageNotice .firstLine {
  font-size:                 120%;
  font-weight:               bold;
  margin-bottom:             0.3em;
  background:                #ffffff;
  color:                     #cc11dd;  
}

.albumizerUsageNotice .secondLine {
  font-size:                 110%;
  background:                #ffffff;
  color:                     #333333;
}


























#frmRegister .prompt {
  margin-bottom:             2em;
}

#frmRegister #errorRowHomePhone {
  margin:                    0.5em 0em 0em 13em;
}

#frmRegister #errorRowServiceConditions {
  margin-top:                0.5em;
}

#frmRegister #lblServiceConditionsAccepted {
  display:                   inline-block;
  width:                     50em;
  position:                  absolute;
  margin:                    0em 0em 0em 0.7em;
}

#frmRegister #id_cmdRegister {
  margin-bottom:             2em;
  width:                     12em;
}

.confirmationForm div label {
  width:                     60em;
}

.confirmationForm input {
/* some customizations to fix the alignment of the terms and conditions checkbox */
  float:                     left;
  margin-top:                0.35em;
  margin-right:              1em;
}

.confirmationForm div.helpRow,
.confirmationForm div.errorRow {
  margin:                    0em;
  padding:                   0em;
}


























#frmCreateAlbum .fieldRow label[for="id_txtAlbumDescription"] {
  float:                     left;
}

#frmCreateAlbum #id_chkPublicAlbum {
  float:                     none;
  margin-left:               10.4em;
}

#frmCreateAlbum #lblPublicAlbum {
  float:                     none;
  position:                  absolute;
  margin:                    0em 0em 0em 0.8em;
}

#frmCreateAlbum #id_cmdCreateAlbum {
  margin-top:                2em;
  margin-left:               10.3em;
  width:                     12em;
}

#frmCreateAlbum .prompt {
  margin-bottom:             2em;
}


















#frmLogin {
  width:                     45em;
}

#frmLogin .prompt {
  margin-bottom:             2em;
}

#frmLogin #id_txtLoginUserName,
#frmLogin #id_txtLoginPassword {
  width:                     25em;
}

#frmLogin label {
  width:                     10em;
}

#frmLogin .helpRow {
  margin-top:                0.2em;
  padding-left:              13em;
  color:                     #888888;
}

#frmLogin .errorRow {
  margin:                    0.5em 0em 2em 10em;
}

#frmLogin #id_cmdLogIn {
  margin-top:                1em;
  margin-left:               9.1em;
  width:                     12em;
}




.albumBrowser h1 {
  float:                     left;
  width:                     25em;
  margin-bottom:             0.5em;
  margin-right:              1.5em;
}

.albumBrowser .actionButtonContainer {
  float:                     right;
} 

.albumBrowser .detailRow {
  clear:                     both;
  margin-bottom:             0.2em;
  background:                #ffffff;
  color:                     #666666;
}

.albumBrowser .description {
  width:                     50em;
  margin-top:                1em;
  margin-bottom:             1em;
}

.albumBrowser .twitter-tweet-button-album-container {
  margin-top:                0em;
}

.albumBrowser .offer-sell,
.albumBrowser .lister {
  display:                   none;
}

.albumBrowser .urlContainer {
  display:                   block;
  margin-top:                1em;
  font-size:                 90%;
  background:                #ffffff;
  color:                     #666666;
}

.albumBrowser .urlContainer a {
  background:                #ffffff;
  color:                     #779977;
  text-decoration:           none;
}

.albumBrowser .urlContainer a:hover {
  background:                #ffffff;
  color:                     #446644;
}

.albumBrowser .urlContainer .secretUrl {
  display:                   block;
  background:                #ffffff;
  color:                     #779977;
}

.albumBrowser .publicUrlContainer .url {
  white-space:               nowrap;
}

.albumBrowser .secretUrlContainer .secretUrl {
  white-space:               nowrap;
}

.albumBrowser .secretUrlContainer .helpText {
  display:                   block;
}

.albumBrowser .noPagesNotice {
  margin-top:                4em;
  margin-bottom:             7em;
  font-size:                 110%;
  font-weight:               bold;
  background:                #ffffff;
  color:                     #779977;
}


























#id_frmShoppingCart .promptForEmpty {
  margin-bottom:             7em;
}

#id_frmShoppingCart .shoppingCartProlog {
  margin-bottom:             1em;
}

#id_frmShoppingCart .shoppingCartProlog .prompt {
  margin:                    0em;
  float:                     left;
  width:                     40em;
}

#id_frmShoppingCart .commonActions {
  width:                     100%;
  text-align:                right;
  margin:                    1em 0em 1em 0em;
}

#id_frmShoppingCart .commonActions input {
  margin:                    0em 0em 0em 1em;
}

#id_frmShoppingCart .commonActions .commonActionLinkButton {
  display:                   inline-block;
  border:                    none;
  background:                #ffffff;
  color:                     #336699;
  text-decoration:           underline;
  cursor:                    pointer;
  margin:                    0em;
  padding:                   0em;
}

#id_frmShoppingCart .disclaimer {
  margin-top:                1em;
  margin-bottom:             4em;
  text-align:                right;
  background:                #ffffff;
  color:                     #555555;
}

#id_frmShoppingCart .shoppingCart table {
  width:                     100%;
}

#id_frmShoppingCart .shoppingCart .headerRowTable {
  font-size:                 90%;
  background:                #ffffff;
  color:                     #444444;
}

#id_frmShoppingCart .shoppingCart .itemRowTable,
#id_frmShoppingCart .shoppingCart .subtotalRowTable {
  border-top:                1px solid #888888; 
}

#id_frmShoppingCart .shoppingCart tr {
  vertical-align:            top;
}

#id_frmShoppingCart .shoppingCart th {
  padding:                   0.2em 0.4em 0.2em 0em;
}

#id_frmShoppingCart .shoppingCart td {
  padding:                   0.5em 0.4em 2em 0em;
}

#id_frmShoppingCart .shoppingCart .itemColumn {
  width:                     70%;                                
  text-align:                left;
}

#id_frmShoppingCart .shoppingCart .itemColumn img {
  display:                   block;
  float:                     left;
  width:                     8em;
  height:                    8em;
  margin-right:              2em;
  border:                    1px solid #aaaaaa;
  color:                     #888888;
  text-align:                center;
  overflow:                  hidden;
  text-overflow:             ellipsis;
  -o-text-overflow:          ellipsis;
  -moz-box-shadow:           2px 2px 5px #888;
  -webkit-box-shadow:        2px 2px 5px #888;
  box-shadow:                2px 2px 5px #888;
}

#id_frmShoppingCart .shoppingCart .itemColumn img:hover {
  border:                    1px solid #aa0000;
}

#id_frmShoppingCart .shoppingCart .itemColumn .item1stRow {
  margin:                    0em 0em 1em 10.4em;
}

#id_frmShoppingCart .shoppingCart .itemColumn .item1stRow a {
  font-size:                 120%;
  font-weight:               bold;
  text-decoration:           none;
  background:                #ffffff;
  color:                     #336699;
}

#id_frmShoppingCart .shoppingCart .itemColumn .item1stRow a:hover {
  text-decoration:           underline;
  background:                #ffffff;
  color:                     #aa0000;
}

#id_frmShoppingCart .shoppingCart .itemColumn .item1stRow .creator {
  background:                #ffffff;
  color:                     #444444;
}

#id_frmShoppingCart .shoppingCart .itemColumn .item2ndRow {
  margin:                    0em 0em 0em 10.5em;
  background:                #ffffff;
  color:                     #444444;
}

#id_frmShoppingCart .shoppingCart .itemColumn .item3rdRow {
  margin:                    1em 0em 0em 10em;
}

#id_frmShoppingCart .shoppingCart .itemColumn .item3rdRow input {
  display:                   inline-block;
  background:                #ffffff;
  color:                     #336699;
  border:                    none;
  text-decoration:           underline;
  cursor:                    pointer;
  margin:                    0em;
  padding:                   0em;
}

#id_frmShoppingCart .shoppingCart .quantityColumn {
  width:                     10%;                                
  text-align:                center;
}

#id_frmShoppingCart .shoppingCart .quantityColumn input {
  text-align:                center;
}

#id_frmShoppingCart .shoppingCart .itemRowTable .quantityColumn,
#id_frmShoppingCart .shoppingCart .itemRowTable .unitPriceColumn,
#id_frmShoppingCart .shoppingCart .itemRowTable .rowTotalColumn {
  font-size:                 110%;
}

#id_frmShoppingCart .shoppingCart .itemRowTable .rowTotalColumn {
  background:                #ffffff;
  color:                     #aa0000;
  font-weight:               bold;
}

#id_frmShoppingCart .shoppingCart .unitPriceColumn {
  width:                     10%;
  text-align:                right;       
}

#id_frmShoppingCart .shoppingCart .rowTotalColumn {
  width:                     10%;                                
  text-align:                right;           
}

#id_frmShoppingCart .shoppingCart .subTotalRow {
  text-align:                right;
}

#id_frmShoppingCart .shoppingCart .subtotalRowTable td {
  padding-bottom:            0em;           
}

#id_frmShoppingCart .shoppingCart .subtotalRowTable {
  text-align:                right;
  font-size:                 130%;
  font-weight:               bold;
}

#id_frmShoppingCart .shoppingCart .subtotalRowTable .subTotal {
  background:                #ffffff;
  color:                     #880000;
}




















#id_frmDeliveryAddresses .addressListProlog {
  margin-bottom:             2em;
}

#id_frmDeliveryAddresses .addressListProlog .prompt {
  margin:                    0em;
  float:                     left;
  width:                     50em;
}

#id_frmDeliveryAddresses .commonActions {
  text-align:                right;
}

#id_frmDeliveryAddresses .commonActions input {
  margin:                    0em 0em 0em 1em;
}

#id_frmDeliveryAddresses .commonActions .commonActionLinkButton {
  display:                   inline-block;
  border:                    none;
  background:                #ffffff;
  color:                     #336699;
  text-decoration:           underline;
  cursor:                    pointer;
  margin:                    0em;
  padding:                   0em;
}

#id_frmDeliveryAddresses .deliveryAddresses {
  clear:                     both;
  width:                     100%;
}

#id_frmDeliveryAddresses .deliveryAddresses .deliveryAddress {
  border-top:                1px solid #888888; 
  padding:                   1em 0em 2em 0em;
}

#id_frmDeliveryAddresses .deliveryAddresses .deliveryAddress .item label {
  width:                     100%;
  font-size:                 120%;
  font-weight:               bold;
  background:                #ffffff;
  color:                     #336699;
}

#id_frmDeliveryAddresses .deliveryAddresses .deliveryAddress .address select {
  width:                     50em;
  margin-top:                1em;
  padding:                   0.2em;  
}

#id_frmDeliveryAddresses .disclaimer {
  border-top:                1px solid #888888; 
  padding-top:               1em;
  margin-bottom:             7em;
  text-align:                right;
  background:                #ffffff;
  color:                     #555555;
}


















#id_frmOrderSummary .orderSummaryProlog {
  margin-bottom:             2em;
}

#id_frmOrderSummary .commonActions input {
  margin:                    0em 0em 0em 1em;
}

#id_frmOrderSummary .disclaimer {
  padding-top:               1em;
  text-align:                right;
  background:                #ffffff;
  color:                     #777777;
}















.generalInfoBackground {
  background:                #eebb77;
}

.orderSummary {
  clear:                     both;
}

.orderSummary > div {
  vertical-align:            top;
}

.orderSummary .generalInfo {
  top:                       0.1em;
  padding:                   1em;
  float:                     right;
}

.orderSummary .generalInfo .placeOrderButton {
  height:                    4em;
  padding:                   1em 0.3em 0em 0.3em;
  background:                #ffffee;
  text-align:                center;
  margin-bottom:             0.5em;
}

.orderSummary .generalInfo .placeOrderButton input[type="submit"] {
  margin-top:                0.1em;
}

.orderSummary .generalInfo .keyFigures {
  padding:                   0.5em 0.5em;
  background:                #ffffff;
  text-align:                center;
}

.orderSummary .generalInfo .keyFigures hr {
  color:                     #888888;
  border:                    none;
  border-top:                1px solid #aaaaaa;
  height:                    1px;
}

.orderSummary .subSeparator {
  width:                     3em;
  float:                     right;
}

.orderSummary .separator {
  color:                     #888888;
  border:                    none;
  border-top:                1px solid #aaaaaa;
  height:                    1px;
}

.orderSummary .title {
  font-size:                 110%;
  font-weight:               bold;
  margin-bottom:             1em;
}

.orderSummary .line {
  clear:                     both;
}

.orderSummary .heading {
  float:                     left;
  margin-right:              1em;
}

.orderSummary .value {
  float:                     right;
}

.orderSummary .line.orderTotal {
  text-align:                center;
}

.orderSummary .orderTotal span {
  width:                     auto;
  white-space:               nowrap;
  font-size:                 130%;
  font-weight:               bold;
  background:                #ffffff;
  color:                     #aa0000;
}

.orderSummary .itemsOfSingleAddress {
  background:                #88cc55;
  margin-bottom:             1em;
  padding:                   0.3em 0.5em;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .table {
  display:                   table;
  width:                     100%;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .tableRow {
  display:                   table-row;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader {
  background:                #e0ffe0;
  padding:                   0.8em;
  margin-bottom:             0.3em;
}

.orderSummary .itemsByAddress {
  max-width:                 65em;
}

.addressGroupHeader > div {
  display:                   inline-block;
  vertical-align:            top;
  margin:                    0.5em;
}

.orderSummary .separatorTd {
  display:                   table-cell;
}

.orderSummary .address {
  display:                   table-cell;
  width:                     30%;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .address .addressTitle {
  font-size:                 110%;
  font-weight:               bold;
  margin-bottom:             0.5em;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .address .addressLine {
  font-size:                 110%;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .price {
  font-size:                 110%;
  padding:                   0em 2em;
  display:                   table-cell;
  width:                     30%;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .priceTitle {
  font-weight:               bold;
  margin-bottom:             0.5em;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .priceRow {
  margin-bottom:             0.2em;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .ShippingExpenses {
  margin-bottom:             0.5em;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .price .heading {
  display:                   inline-block;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .price .value {
  display:                   inline-block;
  text-align:                right;
  color:                     #aa0000;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .keyDates {
  display:                   table-cell;
  width:                     35%;
  padding-right:             2em;
  font-size:                 110%;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .keyDates .title {
  font-weight:               bold;
  margin-bottom:             0.5em;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .keyDates .line {
  margin-bottom:             0.2em;
}

.orderSummary .itemsOfSingleAddress .addressGroupHeader .keyDates .value {
  display:                   inline-block;
  text-align:                right;
  color:                     #008800;
}

.orderSummary .itemsOfSingleAddress .allItems {
  background:                #ffffff;
  padding:                   0.8em;
}

.orderSummary .itemsOfSingleAddress .allItems .singleItemTable {
  display:                   table;
  width:                     100%;
  margin-bottom:             1em;
}

.orderSummary .itemsOfSingleAddress .allItems .singleItemTable.last {
  margin-bottom:             0em;
}

.orderSummary .itemsOfSingleAddress .allItems .singleItem {
  width:                     100%;
  display:                   table-row;
}

.orderSummary .itemsOfSingleAddress .allItems .singleItem .cellOfImage {
  display:                   table-cell;
  width:                     10em;
}

.orderSummary .itemsOfSingleAddress .allItems .singleItem .cellOfImage img {
  display:                   block;
  width:                     8em;
  height:                    8em;
  margin-right:              1em;
  border:                    1px solid #aaaaaa;
  color:                     #888888;
  text-align:                center;
  overflow:                  hidden;
  text-overflow:             ellipsis;
  -o-text-overflow:          ellipsis;
  -moz-box-shadow:           2px 2px 5px #888;
  -webkit-box-shadow:        2px 2px 5px #888;
  box-shadow:                2px 2px 5px #888;
}

.orderSummary .itemsOfSingleAddress .allItems .singleItem .itemDetails {
  display:                   table-cell;
}

.orderSummary .itemsOfSingleAddress .allItems .singleItem .titleRow {
  margin-bottom:             0.4em;
}

.orderSummary .itemsOfSingleAddress .allItems .singleItem .titleRow .title {
  font-weight:               bold;
  background:                #ffffff;
  color:                     #336699;
}

.orderSummary .itemsOfSingleAddress .allItems .singleItem .description {
  margin-bottom:             1em;
  background:                #ffffff;
  color:                     #888888;
}

.orderSummary .itemsOfSingleAddress .allItems .singleItem .priceAndQuantity {
  margin-bottom:             0.4em;
  font-size:                 110%;
}

.orderSummary .itemsOfSingleAddress .allItems .singleItem .priceAndQuantity .subtotal {
  display:                   inline-block;
  margin-right:              2em;
}

.orderSummary .itemsOfSingleAddress .allItems .singleItem > div {
  display:                   inline-block;
  vertical-align:            top;
}









#checkoutSuccessful {
  margin-bottom:             7em;
}

#checkoutSuccessful .prompt {
  margin-bottom:             2em;
}

#checkoutSuccessful .disclaimer {
  margin-top:                1em;
  text-align:                right;
  background:                #ffffff;
  color:                     #777777;
}



















.paymentServices {
  background:                #88cc55;
  padding:                   0.3em 0.5em;
  margin-bottom:             1em;
}

.paymentServices .groupContent {
  background:                #ffffff;
  padding:                   0.8em;
  text-align:                center;
}

.paymentServices #id_frmSPSPayment .spsContainer {
  text-align:                center;
}

.paymentServices #id_frmSPSPayment .spsContainer .spsLogo {
  color:                     #3a3;
  font-family:               "Georgia", "Times New Roman", times, serif;
  font-size:                 55px;
  font-weight:               bolder;
  text-shadow:               -1px -1px 1px #FFF, 1px 1px 1px #151;
}

.paymentServices .paymentServiceLink {
  display:                   inline-block;
  border:                    none;
  background:                #ffffff;
  color:                     #336699;
  text-decoration:           underline;
  cursor:                    pointer;
  margin:                    0em;
  padding:                   0em;
}


















.paymentInfo .prompt {
  margin:                    2em 0em;
}

.paymentInfo .closing {
  margin-top:                3em;
  font-size:                 120%;
  font-style:                italic;
}

























.paymentDetails {
  display:                   inline-block;
  background:                #88cc55;
  padding:                   0.3em 0.5em;
  margin-bottom:             1em;
}

.paymentDetails .groupHeader {
  background:                #e0ffe0;
  padding:                   0.8em;
  margin-bottom:             0.3em;
  font-size:                 110%;
  font-weight:               bold;
}

.paymentDetails .groupContent {
  background:                #ffffff;
  padding:                   0.8em;
  font-size:                 110%;
}

.paymentDetails .groupContent .detail {
  clear:                     both;
  padding:                   0.3em 0em;  
}

.paymentDetails .groupContent .detailTitle {
  float:                     left;  
}

.paymentDetails .groupContent .detailValue {
  margin-left:               15em;
  min-width:                 15em;
}




















.orderBrowser {
  margin-bottom:             7em;
}

.orderBrowser .statusOrdered .prompt {
  margin-bottom:             2em;
}

.orderBrowser .statusPaidAndBeingProcessed .prompt {
  margin-bottom:             2em;
}

.orderBrowser .statusSent .prompt {
  margin-bottom:             2em;
}

.orderBrowser .statusBlocked .prompt {
  margin-bottom:             2em;
}

.orderBrowser .statusUnknown .line1 {
  margin-top:                3em;
  margin-bottom:             2em;
}

.orderBrowser .statusUnknown .line2 {
  margin-bottom:             4em;
}

.orderBrowser .orderSummaryTitle {
  margin-top:                3em;
  margin-bottom:             2em;
}

.orderBrowser .disclaimer {
  margin-top:                1em;
  text-align:                right;
  background:                #ffffff;
  color:                     #777777;
}

























/* general form rules */
.commonForm p.required label {
  font-weight:bold;
}

.commonForm p .helptext {
  display:block;
  margin-left:13em;
  padding-left:3px;
  padding-top:0.2em;
  color:                     #888888;
}

.commonForm .formSectionTitle {
  padding:                   0.5em;
  background-color:          #777777;
  font-size:                 120%;
  font-weight:               bold;
  color:                     #efefef;
}

.commonForm fieldset {
  border:                    none;
  margin-bottom:             2em;
  padding:                   0.5em 1em 1em 1em;
}

.commonForm input[type="submit"] {
  margin-top: 2em;
}

.commonForm label {
  display:                   inline-block;
  margin-top:                0.2em;  
  width:                     13em;
}

.commonForm input[type="text"],
.commonForm input[type="password"],
.commonForm input[type="email"],
.commonForm input[type="tel"],
.commonForm select {
  padding:                   0.1em;
}

.commonForm textarea {
  width:                     50em;
  min-width:                 10em;
  max-width:                 57em;
  min-height:                3em;
} 

.commonForm .required {
  font-weight:               bold;
}

.commonForm .fieldRow label .ui-icon {
  display:                   inline-block;
  position:                  absolute;
  margin:                    -0.2em 0em 0em 0.4em;
}

.commonForm .infoRow {
  margin-top:                1em;
  font-size:                 110%;
  line-height:               1.5em;
}

.commonForm .fieldRow {
  margin-top:                1em;
}

.commonForm .fieldRow div {
  margin-left:               13em;
}

.commonForm .fieldRow label {
  padding-top:               0.2em;
}

.commonForm .fieldRow ul {
  display:                   inline;  
}

.commonForm .fieldRow li {
  display:                   inline-block;
  width:                     5em;
}

.commonForm .helpRow {
  margin-top:                0.2em;
  padding-left:              13em;
  margin-left:               3px;
  color:                     #888888;
}

.commonForm .errorRow {
  margin:                    0.5em 0em 2em 13em;
  padding-left:              3px;
}

.commonForm fieldset .errorlist {
  list-style-type:           none;
  color:                     #dd0000;
  font-weight:               bold;
  margin-left:               13em;
  padding-top:               1em;
  padding-left:              3px;
  padding-bottom:            0.2em;
}

.commonForm .errorMessage {
  color:                     #dd0000;
  font-weight:               bold;
}

.commonFormErrorList {
  padding:                   0.5em 1em;
  margin-bottom:             2em;
}

.commonFormErrorList .errorlist {
  padding-left:              1em;
}

.commonFormErrorList .errorlist {
  display:                   inline-block;
  list-style-type:           none;
}

.commonFormErrorList .ui-icon {
  margin-right:              0.5em;
  display:                   inline-block;
}

.commonFormErrorList .errorMessage {
  display:                   inline-block;
  margin-top:                0.1em;
  color:                     black;
  font-weight:               normal;
}
















