{% load cache %}
{% load static %}
{% load url from future %}

<!DOCTYPE html>

<html>

  <head>
    {% block header_definitions_before %}{% endblock %}

    <title>{% block page_title %}Untitled{% endblock %} - Albumizer - Unleash Your Imagination</title>
    
    {% cache template_cache_timeout base_html_mls debug %}  
	    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	    
      <link rel="icon" type="image/png" href="{% get_static_prefix %}images/favicon.png" />
      <link rel="shortcut icon" href="{% get_static_prefix %}images/favicon.ico" />
	    
	    <link type="text/css" href="{% get_static_prefix %}css/sunny/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/albumizer.css" />
	    {% if debug %}
	      <script type="text/javascript" src="{% get_static_prefix %}scripts/jquery-1.7.1.js"></script>
	      <script type="text/javascript" src="{% get_static_prefix %}scripts/jquery-ui-1.8.17.custom.js"></script>
	    {% else %}
	      <script type="text/javascript" src="{% get_static_prefix %}scripts/jquery-1.7.1.min.js"></script>
	      <script type="text/javascript" src="{% get_static_prefix %}scripts/jquery-ui-1.8.17.custom.min.js"></script>
	    {% endif %}
    {% endcache %}
  
    <script type="text/javascript" src="{% get_static_prefix %}scripts/utils.js"></script>
    <script type="text/javascript">
      //<![CDATA[
	    {% block page_scripts_before %}
	    {% endblock %}

	    {% if not is_login_page %}
	    $(function() {
	    	$("#login-dialog").dialog({
	    	      autoOpen: false,
	    	      height: 230,
	    	      width: 350,
	    	      modal: true,
	    	      resizable: false,
	    	      buttons: {
	    	        "Log In": function() {
                    	$(this).dialog("close");
	    	        	$("#frmLoginDialog").submit();
	    	            	    	            
	    	        },
	    	        Cancel: function() { $(this).dialog("close"); }
	    	      }
	    	}).keyup(function(e) {
			    if (e.keyCode == $.ui.keyCode.ENTER) {
                	$(this).dialog("close");
    	        	$("#frmLoginDialog").submit();
			    }
			});
			
      });
	    {% endif %}
      
      {% block page_scripts_after %}
      {% endblock %}
      //]]>
    </script>    

    {% block header_definitions_after %}{% endblock %}
  </head>

  <body>

    {% cache template_cache_timeout base_fb_login %}  
	    <div id="fb-root"></div>
	    <script type="text/javascript">
	      //<![CDATA[
	      window.fbAsyncInit = function() {
	        FB.init({
	          appId      : '{{ FACEBOOK_APP_ID }}',
	          status     : true, 
	          cookie     : true,
	          xfbml      : true,
	          oauth      : true,
	        });
	        
            //log the user out of facebook too. Leaving Facebook connected would break the fb login button.
            $("#headerLinkLogOut").click(function() {
             if(FB)
                 FB.logout(function(response) {
                     //user logged out..
                 });
            });
	        var tokenhandler=function(response) {
	        	if(response.status=='connected' && response.authResponse) {
	        		var dialog=$("<div title='Facebook login'>Checking authentication token..</div>")
	        			.dialog({ 
	        				modal:true,
	        				resizable:false
	        		});
	        		$.post('{% url "albumizer.views.facebook_login" %}',
	        			response.authResponse)
	        		.success(function(data, textStatus, jqXHR) {
	        				if(data.success) {
	        					//alert("great success, refrehing page");
	        					window.location.href=window.location.href;
	        				} else
	        					alert("Login failed: "+data.reason);
	        			})
	        		.error(function() {
	        			alert("Internal error while validating authentication token.");
	        		})
	        		.complete(function() {
	        				dialog.dialog("close");
	        				dialog.remove();          			
	        		});
	        	}
	        };
	        {% comment %}
	        //Auto-login disables logut... so let's not do auto-login
	        {% if not user.is_authenticated %}
	        //user is not authenticated, check if the user is logged to facebook
	        //TODO: if the user logs out, this will log her on again
	        FB.getLoginStatus(tokenhandler);
	        {% endif %}
	        {% endcomment %}
	        FB.Event.subscribe('auth.login', tokenhandler);
	        
	      };
	      (function(d){
	         var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
	         js = d.createElement('script'); js.id = id; js.async = true;
	         js.src = "//connect.facebook.net/en_US/all.js";
	         d.getElementsByTagName('head')[0].appendChild(js);
	      }(document));
	      //]]>
	    </script>
    {% endcache %}

    <div id="pageContainer">
      {% cache template_cache_timeout base_header request.user is_album_list_page is_registration_page is_login_page %}  
		    <header id="pageHeader">
		      <div id="row1" class="row">
		        <a id="logo" href="/" rel="home"><figure><img src="{% get_static_prefix %}images/albumizer-title.png" alt="Albumizer Logo" /></figure></a>
			      <div id="slogan">Unleash Your Imagination!</div>
		        <div id="rightPart">
			        {% if user.is_authenticated %}
			          <span class="userName">
				          {% if user.first_name %}
				            {{ user.first_name }}
				            {% if user.last_name %}
				              {{ user.last_name }}
				            {% endif %}
				          {% else %}
			              {{ user.username }}
			            {% endif %}
		            </span>
			        {% else %}
			          <nav>
                  {% if not is_album_list_page %}
                    <a href="{% url "albumizer.views.list_all_public_albums" %}" id="headerLinkBrowse" class="headerNavLink">Public Albums</a>
                  {% endif %}
				          {% if not is_registration_page %}
			              <a href="{% url "get_registration_information" %}" id="headerLinkRegister" class="headerNavLink">Register</a>
			            {% endif %}
			            {% if not is_login_page %}
			              <a href="{% url "log_in" %}" onclick="$('#login-dialog').dialog('open'); return false;" id="headerLinkLogIn" class="headerNavLink">Log In</a>
			            {% endif %}
			          </nav>
			        {% endif %}
			      </div>
			    </div>
          {% if user.is_authenticated %}
            <div id="row2" class="row">
              <div class="table">
		            <nav>
		               {% if not is_album_list_page %}
		                 <a href="{% url "albumizer.views.list_all_public_albums" %}" id="headerLinkBrowse" class="headerNavLink">Public Albums</a>
		               {% endif %}
		               <a href="{% url "create_album" %}" id="headerLinkAddAlbum" class="headerNavLink">Create Album</a>
		               <a href="{% url "edit_shopping_cart" %}" id="headerLinkShoppingCart" class="headerNavLink">Shopping Cart</a>
		               <a href="{% url "albumizer.views.show_profile" %}" id="headerLinkProfile" class="headerNavLink">Personal Profile</a>
		               <a href="{% url "albumizer.views.log_out" %}" id="headerLinkLogOut" class="headerNavLink">Log Out</a>
		            </nav>
		          </div>
	          </div>
	        {% endif %}
			  </header>
      {% endcache %}
	
	    <div id="pageContent">
	      {% block page_content %}{% endblock %}
	    </div>

      {% cache template_cache_timeout base_footer %}	
		    <footer id="pageFooter">
		      <div id="pageFooterLeftPart" class="vcard">
		        This web service is an exercise for the
		        <address>
		          <span class="organization-unit">T-106.4300 Web Software Development</span> course at 
		          <a href="http://www.aalto.fi/" title="http://www.aalto.fi/" class="url fn org">Aalto University</a></address>.
		      </div>
	        <div id="pageFooterRightPart">
	          Copyright &copy; 2012 Tomas, Lauri &amp; Aleksi. All Rights Reserved.
	        </div>
		    </footer>
	    {% endcache %}
	  </div>
	  
	  {% if not is_login_page %}
	  <div id="login-dialog" title="Enter Login Credentials" class="dialog">
		  <form id="frmLoginDialog" method="post" action="{% url "log_in" %}">
			  <fieldset>
			    {% csrf_token %}
			    <label for="txtLoginUserName">Username</label>
			    <input type="text" name="txtLoginUserName" id="txtLoginUserName" class="text ui-widget-content" />
			    <label for="txtLoginPassword">Password</label>
			    <input type="password" name="txtLoginPassword" id="txtLoginPassword" value="" class="text ui-widget-content" />
			  </fieldset>
		  </form>		  
		  <div class="fb-login-button">Login with Facebook</div>
    </div>
    {% endif %}
	  
  </body>

</html>
