{% extends "base-template.html" %}
{% load albumizer_common %}
{% load cache %}
{% load static %}
{% load url from future %}


{% block page_title %}Welcome{% endblock %}



{% block page_scripts_after %}

  $(function() {
    $("#welcomePageIntroductionTabs").tabs();
    $("#welcomePageIntroductionTabs").show("slide", {}, 1000);
  });

{% endblock %}



{% block page_content %}

  <div id="welcomePageSplash"></div>

  <div id="welcomePageMainContent" {% if latest_albums %}class="hasWidth"{% endif %}>
  
    {% show_messages %}
    
    {% cache template_cache_timeout welcome_html_tabs debug %}  
			<div id="welcomePageIntroductionTabs">
			  <ul>
			    <li><a href="#welcomePageIntroductionTabs-1">Create</a></li>
			    <li><a href="#welcomePageIntroductionTabs-2">Share</a></li>
			    <li><a href="#welcomePageIntroductionTabs-3">Order</a></li>
			  </ul>
			  <div id="welcomePageIntroductionTabs-1">
			    <div class="welcomePageIntroductionTabHeading">Let Your Imagination Flow!</div>
			    With Albumizer, creation of outstanding photo albums is a breeze: Just layout your photos and texts with
			    ready-made page templates, and you have a masterpiece in your hands!
			  </div>
	      <div id="welcomePageIntroductionTabs-2">
	        <div class="welcomePageIntroductionTabHeading">Share Your Experiences And Passions With Your Friends!</div>
	        Making photo albums for yourself is nice, but the real fun comes from sharing them with your friends
	        and loved ones. Albumizer makes it easy to publish photo albums for the whole world to see, and for more
	        private content, you can give specific friends a special access link for browsing your album.
	      </div>
	      <div id="welcomePageIntroductionTabs-3">
	        <div class="welcomePageIntroductionTabHeading">Order Your Albums As Printed Copies!</div>
	        All albums created with Albumizer can be ordered as printed copies for a very competitive price. Let your
	        memories become amazing and unforgettable presents and store your albums for future generations! 
	      </div>
			</div>
    {% endcache %}

    {% twitter_follow_button %}

    {% albumizer_usage_notice %}

    {% random_picks_album_list 8 %}

    {% show_twitter_tweet %}

  </div>

  {% if latest_albums %}
    <div id="welcomePageRightColumn">
      <div id="welcomePageAlbumList" class="ui-widget-content">
        <div id="welcomePageAlbumListHeading" class="ui-widget-header">The Latest Published Albums</div>

		    {% for album in latest_albums %}
		      <div class="welcomePageAlbumListItem hlisting">
		        <a href="{{ album.get_absolute_url }}">
			        <div class="item">
			          <span class="fn">{{ album.title }}</span><span class="creationDate dtlisted" title="{{ album.creationDate|date:"c" }}">{{ album.creationDate|date:"j.n.Y G.i" }}</span>
			        </div>
            </a>
            <div class="offer-sell">available for order</div>
            <div class="lister"><span class="fn">Albumizer</span>, <span class="url">http://{{ site_domain }}{{ album.get_absolute_url }}</span></div>
            <div class="url permalink">http://{{ site_domain }}{{ album.get_absolute_url }}</div>
          </div>
		    {% endfor %}
		  </div>
    </div>
  {% endif %}

{% endblock %}