{% extends "base-template.html" %}
{% load static %}



{% block page_title %}Welcome{% endblock %}



{% block page_scripts_after %}

  $(function() {
    $("#welcomePageIntroductionTabs").tabs();
  });
  
  function updateUsageData() {
    $.getJSON("/api/json/album/count/",
      function(data) {
        if (!isNaN(data)) {
          $("#albumCounter").text(data);
        }
      }
    )
    
    $.getJSON("/api/json/user/count/",
      function(data) {
        if (!isNaN(data)) {
          $("#userCounter").text(data);
        }
      }
    )
  }


  var nextRandomAlbumListHtml = "";

  {% if random_albums %}
  var oldRandomAlbumIds = Array(
    {% for album in random_albums %}
      {{ album.id }}{% if forloop.revcounter > 1 %},{% endif %}
    {% endfor %}
  );
  {% endif %}


  function updateRandomPics() {
    $.getJSON("/api/json/album/random/8/",
      function(data) {
		    if (data.length < 3) {
		        return;
		    }
        else if (data.length > 4) {
            data = data.slice(0, Math.floor(data.length / 4) * 4);
        }
      
        var albumCounter = 0;
        var strHtml = "<tr>";

        var newRandomAlbumIds = Array();        
        $.each(data, function () {
          newRandomAlbumIds.push(this.id);
          albumCounter++;

          strHtml +=
            '<td>' +
              '<div class="welcomePageRandomAlbumsItemContainer">' +
                '<span id="welcomePageRandomAlbumsItemWrapper' + this.id + '" class="welcomePageRandomAlbumsItemWrapperHidden">' +
                  '<a href="/album/' + this.id + '/"><img class="welcomePageRandomAlbumsItemImage" src="" alt="Cover of ' + this.title + '" /></a>' +
                  '<div class="welcomePageRandomAlbumsItemTitle"><a href="/album/' + this.id + '/">' + this.title + '</a></div>' +
                '</span>' +
              '</div>' +
            '</td>';
          
          if (albumCounter % 4 == 0) {
            strHtml += "</tr><tr>";
          }
        })
        strHtml += "</tr>";

        function randomPicksUpdateFadeOutHandler() {
          $("#welcomePageRandomAlbumsTable").html(strHtml);
          oldRandomAlbumIds = newRandomAlbumIds;
          if (oldRandomAlbumIds.length > 0) {
            var i;
            var delay = 100;
            for (i = 0; i < oldRandomAlbumIds.length; i++) {
              setTimeout('$("#welcomePageRandomAlbumsItemWrapper' + oldRandomAlbumIds[i] + '").show("fade", {}, 2000);', delay);
              delay += 200;
            }
          }
        }
        
        if (oldRandomAlbumIds.length > 0) {
          var i;
          var delay = 100;
          for (i = 0; i < oldRandomAlbumIds.length - 1; i++) {
            setTimeout('$("#welcomePageRandomAlbumsItemWrapper' + oldRandomAlbumIds[i] + '").hide("fade", {}, 2000);', delay);
            delay += 200;
          }
          var lastItemFadeOutHandler = function() {
            $("#welcomePageRandomAlbumsItemWrapper" + oldRandomAlbumIds[i]).hide("fade", {}, 2000, randomPicksUpdateFadeOutHandler);
          }
	        setTimeout(lastItemFadeOutHandler, delay);
	      }
	      else {
	        randomPicksUpdateFadeOutHandler();
	      }
      }
    )
  }

  $(document).ready(function() {
      setInterval("updateUsageData()", 60000);
      setInterval("updateRandomPics()", 20000);
  });
  
{% endblock %}



{% block page_content %}

  <div id="welcomePageSplash">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="900" height="200" id="albumizer-frontpage" align="middle">
      <param name="movie" value="{% get_static_prefix %}flash/albumizer-frontpage.swf" />
      <param name="quality" value="high" />
      <param name="bgcolor" value="#ffffff" />
      <param name="play" value="true" />
      <param name="loop" value="true" />
      <param name="wmode" value="window" />
      <param name="scale" value="noscale" />
      <param name="menu" value="true" />
      <param name="devicefont" value="false" />
      <param name="salign" value="" />
      <param name="allowScriptAccess" value="sameDomain" />
      <!--[if !IE]>-->
      <object type="application/x-shockwave-flash" data="{% get_static_prefix %}flash/albumizer-frontpage.swf" width="900" height="200">
        <param name="movie" value="{% get_static_prefix %}flash/albumizer-frontpage.swf" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="window" />
        <param name="scale" value="noscale" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="sameDomain" />
      <!--<![endif]-->
        <a href="http://www.adobe.com/go/getflash">
          <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
        </a>
      <!--[if !IE]>-->
      </object>
      <!--<![endif]-->
    </object>
  </div>

  <div id="welcomePageMainContent" {% if latest_albums %}class="hasWidth"{% endif %}>
  
		<div id="welcomePageIntroductionTabs">
		  <ul>
		    <li><a href="#welcomePageIntroductionTabs-1">Create</a></li>
		    <li><a href="#welcomePageIntroductionTabs-2">Share</a></li>
		    <li><a href="#welcomePageIntroductionTabs-3">Order</a></li>
		  </ul>
		  <div id="welcomePageIntroductionTabs-1">
		    <div class="welcomePageIntroductionTabHeading">Let Your Imagination Flow!</div>
		    With Albumizer, creation of outstanding photo albums is a breeze: Just layout your photos and texts with
		    ready-made page templates, and you have a masterpiece in your hands!
		  </div>
      <div id="welcomePageIntroductionTabs-2">
        <div class="welcomePageIntroductionTabHeading">Share Your Experiences And Passions With Your Friends!</div>
        Making photo albums for yourself is nice, but the real fun comes from sharing them with your friends
        and loved ones. Albumizer makes it easy to publish photo albums for the whole world to see, and for more
        private content, you can give specific friends a special access link for browsing your album.
      </div>
      <div id="welcomePageIntroductionTabs-3">
        <div class="welcomePageIntroductionTabHeading">Order Your Albums As Printed Copies!</div>
        All albums created with Albumizer can be ordered as printed copies for a very competitive price. Let your
        memories become amazing and unforgettable presents and store your albums for future generations! 
      </div>
		</div>

    <div id="twitter-buttons">
      <a href="https://twitter.com/aaltowsd2012s" 
         class="twitter-follow-button" 
         data-show-count="false">Follow @aaltowsd2012s</a>
      <script>
        !function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          
          if (!d.getElementById(id)){
            js=d.createElement(s);
            js.id=id;
            js.src="//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, "script", "twitter-wjs");
      </script>
    </div>

    {% if user_count > 0 and album_count > 0 %}
      <div id="welcomePageUsageNotice">
        <div id="firstLine">
          There are already <span id="userCounter">{{ user_count }}</span> user{{ user_count|pluralize }}, who so far have created in total
          <span id="albumCounter">{{ album_count }}</span> album{{ album_count|pluralize }}!
        </div>
        <div id="secondLine">
          Be sure to check out this thrilling possibility to express yourself and share your visions!
        </div>
      </div>
    {% endif %}

    {% if random_albums %}
	    <div id="welcomePageRandomAlbums">
	      <div id="welcomePageRandomAlbumsHeader">
		      <div id="welcomePageRandomAlbumsTitle">Some Random Picks From Our Users</div>
		      <a id="welcomePageRandomAlbumsSeeMoreLink" href="/album/">See more</a>
		    </div>
	      <table id="welcomePageRandomAlbumsTable">
	        <tr>
          {% for album in random_albums %}
	          <td>
	            <div class="welcomePageRandomAlbumsItemContainer">
	              <span id="welcomePageRandomAlbumsItemWrapper{{ album.id }}">
	                <a href="/album/{{ album.id }}/"><img class="welcomePageRandomAlbumsItemImage" src="" alt="Cover of {{ album.title }}" /></a>
	                <div class="welcomePageRandomAlbumsItemTitle"><a href="/album/{{ album.id }}/">{{ album.title }}</a></div>
	              </span>
	            </div>
	          </td>
	          {% if forloop.counter|divisibleby:"4" %} 
	            </tr><tr>
	          {% endif %}
	        {% endfor %}
	        </tr>
	      </table>
	    </div>
    {% endif %}
    
    <div id="twitter-tweets">
      <blockquote class="twitter-tweet tw-align-center" lang="en"><p>The Albumizer team is excited about this new web site and hopes to see you all here making albums! <a href="http://t.co/0EONiQee" title="http://www.albumizer.com/">albumizer.com</a> <a href="https://twitter.com/search/%2523Albumizer">#Albumizer</a></p>&mdash; aaltowsd2012s (@aaltowsd2012s) <a href="https://twitter.com/aaltowsd2012s/status/166281721048866816" data-datetime="2012-02-05T22:07:06+00:00">helmikuu 5, 2012</a></blockquote>
      <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

  {% if latest_albums %}
		<div id="welcomePageRightColumn">
		   <div id="welcomePageAlbumList" class="ui-widget-content">
		     <div id="welcomePageAlbumListHeading" class="ui-widget-header">The Latest Published Albums</div>

		     {% for album in latest_albums %}
		      <div class="welcomePageAlbumListItem"><a 
		              href="/album/{{ album.id }}/">{{ album.title }}</a><span 
		                    class="creationDate">{{ album.creationDate|date:"j.n.Y G.i" }}</span></div>
		    {% endfor %}
		   </div>
		</div>
  {% endif %}

{% endblock %}