{% extends "base-template.html" %}
{% load albumizer_common %}
{% load url from future %}


{% block page_title %}Album "{{ album.title }}"{% endblock %}



{% block page_scripts_after %}

  $(function() {
    $(".actionButtonContainer input").button();
  });

{% endblock %}



{% block page_content %}

  <article class="albumBrowser hlisting">
    {% show_messages %}
    
	  <h1 class="fn">{{ album.title }}</h1>
    
    {% if album.description %}
    <div class="description">
      {{ album.description }}
    </div>
    {% endif %}
    <div class="detailRow">
      Created <span class="dtlisted" title="{{ album.creationDate|date:"c" }}">{{ album.creationDate|date:"j.n.Y \a\t G.i" }}</span> by
      {% if request.user == album.owner %}
        yourself,
      {% else %}
        {{ album.owner.username }},
      {% endif %}
      
      {% if not album.has_pages %}
        currently empty
      {% else %}
        {{ album.pages|length }} page{{ album.pages|length|pluralize }}
      {% endif %}
    </div>
    <div class="detailRow">
      <td class="price">
        {% if album.price > 0 %}
          {{ album.price|floatformat:"2" }} &euro; / piece + shipping
        {% endif %}
      </td>
    </div>
    {% if album.isPublic %}
      <div class="tweetButtonContainer">
        {% twitter_tweet_button_album album %}
      </div>
    {% endif %}
 




	  <!--  The browsing interface here  -->
	  {% if album.pages|length > 0 %}
	  
	  {% for page in album.pages %}
	  <div class="albumList">
	    <a href="{{ album.get_absolute_url }}{{ page.pageNumber }}" class="albumListItem{% if forloop.counter|divisibleby:"6" %} firstOnRow{% endif %}{% if forloop.counter|divisibleby:"5" %} lastOnRow{% endif %}">
	      <img src="" alt="" class="albumListItemImage" />
	      <p class="albumListItemTitle">Page {{ page.pageNumber }}</p>
	    </a>
	    {% if forloop.counter|divisibleby:"5" %}
	    <div class="clear"></div>
	    {% endif %}
	  </div>
	  {% endfor %}

	  {% else %}
	  <p>There are no pages.</p>
	  {% endif %}

	  <div class="clear"></div>



    <div class="additionalInfoContainer">
      {% if request.user.is_authenticated %}
      <div class="actionButtonContainer">
        <form name="frmAlbumAction" method="post" action="{% url "show_single_album" album.id %}">
          {% csrf_token %}
          <input type="submit" name="add" name="id_cmdAdd" value="Add to Shopping Cart">
          {% if current_user_is_owner %}
            <input type="submit" name="delete" name="id_cmdDelete" value="Delete">
          {% endif %}
        </form>
      </div>
      {% endif %}
	    {% if album.isPublic %}
	     <div class="urlContainer publicUrlContainer">
	        <span class="helpText">Public URL of this album:</span>
	        <nobr><a href="http://{{ site_domain }}{{ album.get_absolute_url }}" rel="self bookmark" 
	                      class="url permalink">http://{{ site_domain }}{{ album.get_absolute_url }}</a></nobr>
	      </div>
	    {% else %}
	      {% if not opened_using_secret_hash %}
	        <div class="urlContainer secretUrlContainer">
	          <span class="helpText">
	            If you wish to let your family or friends to browse this album
	            while it is private, please give them the secret URL given below:
	          </span>
	          <nobr><span class="secretUrl">http://{{ site_domain }}{{ album.get_secret_url }}</span></nobr>
	        </div>
	      {% endif %}
	    {% endif %}
    </div>    

    <div class="offer-sell">available for order</div>
    <div class="lister">
      <span class="fn">Albumizer</span>, 
      <span class="url">http://{{ site_domain }}{{ album.get_absolute_url }}</span>
    </div>
  </article>

{% endblock %}
