{% extends "base-template.html" %}
{% load albumizer_common %}
{% load url from future %}


{% block page_title %}Album "{{ album.title }}"{% endblock %}

{% block page_scripts_after %}

  $(function() {
    $(".actionButtonContainer input").button();
    $(".albumListItem :submit").button();
  });

{% endblock %}



{% block page_content %}

  <article class="albumBrowser hlisting">
    {% show_messages %}

    <div>
		  <h1 class="fn">{{ album.title }}</h1>

	    {% if request.user.is_authenticated %}
	    <div class="actionButtonContainer">
	      <form name="frmAlbumAction" method="post" action="{% url "show_single_album" album.id %}">
	        {% csrf_token %}
          {% if current_user_can_edit %}
            <input type="submit" name="addPage" value="Add Page">
            <input type="submit" name="editAlbum" value="Edit Album">
          {% endif %}
          {% if is_visible_to_current_user and album.has_pages %}
	          <input type="submit" name="addToShoppingCart" value="Add to Shopping Cart">
          {% endif %}
	        {% if current_user_can_delete %}
	          <input type="submit" name="delete" value="Delete">
	        {% endif %}
	      </form>
	    </div>
	    {% endif %}
    </div>

    <div class="detailRow">
      Created <span class="dtlisted" title="{{ album.creationDate|date:"c" }}">{{ album.creationDate|date:"j.n.Y \a\t G.i" }}</span> by
      {% if request.user == album.owner %}
        yourself
      {% else %}
        {{ album.owner.username }}
      {% endif %}
      
      {% if album.has_pages %}
        &mdash; {{ album.pages|length }} page{{ album.pages|length|pluralize }}
      {% endif %}
    </div>
    {% if album.price_excluding_vat_and_shipping.0 > 0 %}
    <div class="detailRow">
      <div class="price">
          {{ album.price_excluding_vat_and_shipping.0|mto2dstr }}&nbsp;&euro; / piece + shipping + VAT
      </div>
    </div>
    {% endif %}

    {% if album.description %}
    <div class="description">
      {{ album.description }}
    </div>
    {% endif %}
   
    <div class="description">
      {% if album.pages|length > 0 %}
        <a href="{% url "albumizer.views.view_album_slideshow" album.id %}">View slide show</a>
      {% endif %}
    </div> 
    {% if album.isPublic %}
      <div class="tweetButtonContainer">
        {% twitter_tweet_button_album album %}
      </div>
    {% endif %}




	  <!--  The browsing interface here  -->
	  <div class="albumList"> 
	  {% if album.pages|length > 0 %}
	  {% for page in album.pages %}
	  <div class="albumListItem{% if forloop.counter0|divisibleby:"5" %} firstOnRow{% endif %}{% if forloop.counter|divisibleby:"5" %} lastOnRow{% endif %}">
	    <a href="{% if opened_using_secret_hash %}{{ page.get_secret_url }}{% else %}{{ page.get_absolute_url }}{% endif %}">
	      <img src="{{ page.url_of_large_cover }}" alt="Page {{ page.pageNumber }} of album {{ album.title }}" class="albumListItemImage" />
	      <p class="albumListItemTitle">Page {{ page.pageNumber }}</p>
	    </a>
	    {% if current_user_can_delete %}
        <div class="center">
          <form name="frmAlbumAction" method="post" action="{% url "show_single_album" album.id %}">
              {% csrf_token %}
              <input type="hidden" name="pageNumber" value="{{page.pageNumber}}" />
              <input type="submit" name="deletePage" value="Delete page" />            
          </form>
        </div>
        {% endif %}
      </div>
	  {% if forloop.counter|divisibleby:"5" %}
	  <div class="clear"></div>
	  {% endif %}
	  {% endfor %}
	  {% else %}
	    <div class="noPagesNotice">This album is currently empty.</div>
	  {% endif %}
	  </div>

	  <div class="clear"></div>





    {% if album.isPublic %}
     <div class="urlContainer publicUrlContainer">
        <span class="helpText">Public URL of this album:</span>
        <a href="http://{{ site_domain }}{{ album.get_absolute_url }}" rel="bookmark" 
                      class="url permalink">http://{{ site_domain }}{{ album.get_absolute_url }}</a>
      </div>
    {% else %}
      {% if not opened_using_secret_hash %}
        <div class="urlContainer secretUrlContainer">
          <span class="helpText">
            If you wish to let your family or friends to browse this album
            while it is private, please give them the secret URL given below:
          </span>
          <span class="secretUrl">http://{{ site_domain }}{{ album.get_secret_url }}</span>
        </div>
      {% endif %}
    {% endif %}


    <div class="offer-sell">available for order</div>
    <div class="lister">
      <span class="fn">Albumizer</span>, 
      <span class="url">http://{{ site_domain }}{{ album.get_absolute_url }}</span>
    </div>
  </article>

{% endblock %}
