
        <h2 class="prompt">Page {{ pageNumber}}</h2>
        <div class="albumpagewrapper">
            <div class="albumpagecontainer {{layoutCssClass}}">
                {% for text in texts %}
                <span id="text{{ forloop.counter}}">{{ text }}</span>
                {% endfor %}
                {% for image in images %}
                <img id="image{{ forloop.counter}}" src="{{ image.url }}" />
                {% endfor %}
            </div>
            <div class="linkTable">
	            <div class="linkTableRow">
		            <div class="linkTableLink previousLink">
			            {% if previousLink %}
			                <a href="{{ previousLink }}">&lt;&lt; Previous Page</a>
			            {% endif %}
		            </div>
		            <div class="linkTableLink upLink">
		              {% if upLink %}
		                  <a href="{{ upLink }}">Back to Album</a>
		              {% endif %}
		            </div>
		            <div class="linkTableLink nextLink">
			            {% if nextLink %}
			                <a href="{{ nextLink }}">Next Page &gt;&gt;</a>
			            {% endif %}
			          </div>
	            </div>
            </div>
        </div>
