{% extends "base-template.html" %}
{% load albumizer_common %}
{% load url from future %}

{% block page_title %}{{ albumTitle }}{% endblock %}
      {% block page_scripts_after %}
        $(function() {
            $(".previousLink a, .nextLink a").click(function(evt) {
                evt.preventDefault();
                var myUrl=$(this).attr("href");
                
                //first make sure the current page has a state object
                var picturedata=$("#ajaxContainer").html();
                var cssdata=$("#cssContainer").html();
                var state={"picturedata":picturedata,
                           "cssdata": cssdata};
                window.history.replaceState(state, document.title, document.location);
                
                $("#ajaxContainer").load(myUrl+" #ajaxContainer", function() {
                    $("#cssContainer").load(myUrl+" + #cssContainer", function() {
                    //now push new state
	                var picturedata=$("#ajaxContainer").html();
	                var cssdata=$("#cssContainer").html();
	                var state={"picturedata":picturedata,
	                           "cssdata": cssdata};
                    try {
                        window.history.pushState(state, document.title, myUrl);
                        } catch (err) {
                        alert("error: "+err);
                        }
                    });
                    
                    $("form").attr("action", myUrl);
                });
            });
            window.onpopstate=function(event) {
              //alert(document.location+": popping "+JSON.stringify(event.state));
              if(event.state && event.state.picturedata) {
                $("#ajaxContainer").html(event.state.picturedata);
                $("#cssContainer").html(event.state.cssdata);
                $("form").attr("action", document.location);
              }
            };
        });
        $(function() {
            $(".actionButtonContainer input").button();
        });
      {% endblock %}
{% block header_definitions_before %}
	<style id="cssContainer" type="text/css">
	{{ cssContent }}
	</style>
{% endblock %}

{% block page_content %}

  <article class="albumBrowser hlisting">
    {% show_messages %}

    <div>
		<h1 class="fn">{{ albumTitle }}</h1>

	    {% if request.user.is_authenticated %}
	    <div class="actionButtonContainer">
	      <form name="frmAlbumAction" method="post" action="{% url "show_single_page" album_id pageNumber %}">
	        {% csrf_token %}
            {% if current_user_can_edit %}
            <input type="submit" name="addPage" name="id_cmdAddPage" value="Add Page">
            <input type="submit" name="editPage" name="id_cmdEditPage" value="Edit Page">
            {% endif %}
	        {% if current_user_can_delete %}
	        {# <input type="submit" name="deletePage" name="id_cmdDeletePage" value="Delete Page"> #}
	        {% endif %}
	      </form>
	    </div>
	    {% endif %}
    </div>
    
    <div class="clear"></div>

	<div id="ajaxContainer">
		<h2>You are viewing page {{ pageNumber}} from album "{{ albumTitle }}"</h2>
        {% show_messages %}
        <div class="albumpagewrapper">
			<div class="albumpagecontainer {{layoutCssClass}}">
				{% for text in texts %}
				<span id="text{{ forloop.counter}}">{{ text }}</span>
				{% endfor %}
				{% for image in images %}
				<img id="image{{ forloop.counter}}" src="{{ image.url }}" />
				{% endfor %}
			</div>
			<div>
			{% if previousLink %}
				<div class="previousLink"><a href="{{ previousLink }}">&lt;&lt; Previous page</a></div>
			{% endif %}
			{% if nextLink %}
				<div class="nextLink"><a href="{{ nextLink }}">Next page &gt;&gt;</a></div>
			{% endif %}
				<div class="clear" />
			</div>
		</div>
	<div>

  </article>
{% endblock %}
