{% extends "base-template.html" %}
{% load albumizer_common %}
{% load url from future %}

{% block page_title %}{{ albumTitle }}{% endblock %}
      {% block page_scripts_after %}
        $(function() {
            $(document).on("click", ".previousLink a, .nextLink a", function(evt) {
                evt.preventDefault();
                var myUrl=$(this).attr("href");
                
                //first make sure the current page has a state object
                var picturedata=$("#ajaxContainer").html();
                var cssdata=$("#cssContainer").html();
                var state={"picturedata":picturedata,
                           "cssdata": cssdata};
                window.history.replaceState(state, document.title, document.location);
                
                $.getJSON(myUrl+"?ajax=1", function(data) {
                        
                        $("#ajaxContainer").html(data.ajaxContainer);
                        $("#cssContainer").html(data.cssContainer);
                        
	                    var picturedata=data.ajaxContainer;
	                    var cssdata=data.cssContainer;
	                    var state={"picturedata":picturedata,
	                               "cssdata": cssdata};
	                    window.history.pushState(state, document.title, myUrl);
	      
	                    
	                    $(".actionButtonContainer form").attr("action", myUrl);
                 });
            });
            window.onpopstate=function(event) {
              //alert(document.location+": popping "+JSON.stringify(event.state));
              if(event.state && event.state.picturedata) {
                $("#ajaxContainer").html(event.state.picturedata);
                $("#cssContainer").html(event.state.cssdata);
                $(".actionButtonContainer form").attr("action", document.location);
              }
            };
        });
        $(function() {
            $(".actionButtonContainer input").button();
        });
      {% endblock %}
{% block header_definitions_before %}
	<style id="cssContainer" type="text/css">
	{{ cssContent }}
	</style>
{% endblock %}

{% block page_content %}

  <article class="albumBrowser hlisting">
    {% show_messages %}

    <div>
		<h1 class="fn">{{ albumTitle }}</h1>

	    {% if request.user.is_authenticated %}
	    <div class="actionButtonContainer">
	      <form name="frmAlbumAction" method="post" action="{% url "show_single_page" album_id pageNumber %}">
	        {% csrf_token %}
            {% if current_user_can_edit %}
            <input type="submit" name="addPage" value="Add Page">
            <input type="submit" name="editPage" value="Edit Page">
            {% endif %}
	        {% if current_user_can_delete %}
	        {# <input type="submit" name="deletePage" name="id_cmdDeletePage" value="Delete Page"> #}
	        {% endif %}
	      </form>
	    </div>
	    {% endif %}
    </div>
    
    <div class="clear"></div>

	<div id="ajaxContainer">
	   {% include "album/view-album-page-single-ajaxContainer.html" %}
	</div>

  </article>
{% endblock %}
