{% extends "base-template.html" %}
{% load url from future %}

{% block page_title %}{{ albumTitle }}{% endblock %}
      {% block page_scripts_after %}
        $(function() {
            $(".previousLink a, .nextLink a").click(function(evt) {
                evt.preventDefault();
                var myUrl=$(this).attr("href");
                $("#ajaxContainer").load(myUrl+" #ajaxContainer", function() {
                    try {
                        window.history.pushState(null, document.title, myUrl);
                        } catch (err) {
                        alert("error: "+err);
                        }
                    });                
            });
        });
      {% endblock %}
{% block header_definitions_before %}
	<style type="text/css">
	{{ cssContent }}
	</style>
{% endblock %}

{% block page_content %}

	<div id="ajaxContainer">
		<h2>You are viewing page {{ pageNumber}} from album "{{ albumTitle }}"</h2>
		<div id="albumpagewrapper">
			<div class="albumpagecontainer {{layoutCssClass}}">
				{% for text in texts %}
				<span id="text{{ forloop.counter}}">{{ text }}</span>
				{% endfor %}
				{% for image in images %}
				<img id="image{{ forloop.counter}}" src="{{ image }}" />
				{% endfor %}
			</div>
			<div>
			{% if previousLink %}
				<div class="previousLink"><a href="{{ previousLink }}">&lt;&lt; Previous page</a></div>
			{% endif %}
			{% if nextLink %}
				<div class="nextLink"><a href="{{ nextLink }}">Next page &gt;&gt;</a></div>
			{% endif %}
				<div class="clear" />
			</div>
		</div>
	<div>

{% endblock %}