{% extends "base-template.html" %}
{% load albumizer_common %}
{% load url from future %}



{% block page_title %}Log In{% endblock %}



{% block page_scripts_after %}

  $(function() {
    $("#id_cmdLogIn").button();
  });
  $(window).load(function() {
    $("#id_txtLoginUserName").focus();
    $("#frmLogin").submit(function() {
      $("#id_cmdLogIn").button("option", "disabled", true);
      return true;  
    })
  });

{% endblock %}



{% block page_content %}

  <form id="frmLogin" class="commonForm" method="post" action="{% url "log_in" %}">
    {% csrf_token %}
    {% if nextURL %}<input type="hidden" name="nextURL" value="{{ nextURL }}" />{% endif %}

	  <h1>Log In</h1>
	  {% show_messages %}
	
	  <p class="prompt">Please enter your credentials to the fields below.</p>
	
	  {% if form.field_errors or form.non_field_errors %}
	    <table class="commonFormErrorList ui-state-highlight ui-corner-all">
	      {% if form.field_errors %}
	        <tr>
	          <td><span class="ui-icon ui-icon-info"></span></td>
	          <td>
	            <span class="errorMessage">
	            <strong>To be accepted, the form below is required to be adjusted as follows:</strong>
	            <ul>
	              {% for field in form %}
	                {% for error in field.errors %}
	                  <li>{{ error }}</li>
	                {% endfor %}
	              {% endfor %}
	            </ul>
	            </span>
	          </td>
	        </tr> 
	      {% endif %}
	
	      {% for error in form.non_field_errors %}
	        <tr><td><span class="ui-icon ui-icon-info"></span></td><td><span class="errorMessage">{{ error }}</span></td></tr>
	      {% endfor %}
	    </table>
	  {% endif %}

    <div class="formSectionTitle ui-widget-header">Login Information</div>
    <fieldset class="ui-widget-content ui-corner-bottom">
      <div class="fieldRow"><label class="requiredLabel" for="id_{{ form.txtLoginUserName.name }}">{{ form.txtLoginUserName.label }}<span class="ui-icon ui-icon-star"></span></label>{{ form.txtLoginUserName }}</div>
      <div class="helpRow">{{ form.txtLoginUserName.help_text }}</div>
      {% if form.txtLoginUserName.errors %}
        <div class="errorRow">
          {% for error in form.txtLoginUserName.errors %}
            <div class="errorMessage">{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="fieldRow"><label class="requiredLabel" for="id_{{ form.txtLoginPassword.name }}">{{ form.txtLoginPassword.label }}<span class="ui-icon ui-icon-star"></span></label>{{ form.txtLoginPassword }}</div>
      <div class="helpRow">{{ form.txtLoginPassword.help_text }}</div>
      {% if form.txtLoginPassword.errors %}
        <div class="errorRow">
          {% for error in form.txtLoginPassword.errors %}
            <div class="errorMessage">{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}

      <input type="submit" name="cmdLogIn" id="id_cmdLogIn" value="Log In" />
    </fieldset>
  </form>

{% endblock %}