{% extends "base-template.html" %}



{% block page_title %}Register{% endblock %}



{% block page_scripts_after %}

  $(function() {
    $("#cmdRegister").button();
    $("input").addClass("text ui-widget-content");
    $("#radio").buttonset();
  });

{% endblock %}



{% block page_content %}

  <h1>Register</h1>

  <p>If you want to register into the service, please enter the necessary information below.</p>

  {% if form.errors %}
    <table id="formErrorList" class="ui-state-highlight ui-corner-all">
      {% for error in form.errors %}
        <tr><td valign="top"><span class="ui-icon ui-icon-info"></span></td><td><span class="errorMessage">{{ error }}</span></td></tr>
      {% endfor %}
    </table>
  {% endif %}

  <form id="frmRegister" method="post" action="/accounts/register/">
    <fieldset>
      {% csrf_token %}
		  <div class="fieldRow"><label for="id_{{ form.txtUserId.name }}">{{ form.txtUserId.label }}</label>{{ form.txtUserId }}</div>
		  <div class="helpRow">{{ form.txtUserId.help_text }}</div>
		  
      <div class="fieldRow"><label for="id_{{ form.txtPassword.name }}">{{ form.txtPassword.label }}</label>{{ form.txtPassword }}</div>
      <div class="helpRow">{{ form.txtPassword.help_text }}</div>

      <div class="fieldRow"><label for="id_{{ form.txtPasswordAgain.name }}">{{ form.txtPasswordAgain.label }}</label>{{ form.txtPasswordAgain }}</div>
      <div class="helpRow">{{ form.txtPasswordAgain.help_text }}</div>

      <div class="fieldRow"><label for="id_{{ form.txtFirstName.name }}">{{ form.txtFirstName.label }}</label>{{ form.txtFirstName }}</div>
      <div class="helpRow">{{ form.txtFirstName.help_text }}</div>

      <div class="fieldRow"><label for="id_{{ form.txtLastName.name }}">{{ form.txtLastName.label }}</label>{{ form.txtLastName }}</div>
      <div class="helpRow">{{ form.txtLastName.help_text }}</div>

      <div class="fieldRow"><label for="id_{{ form.radGender.name }}">{{ form.radGender.label }}</label>{{ form.radGender }}</div>
      <div class="helpRow">{{ form.radGender.help_text }}</div>

      <div class="fieldRow"><label for="id_{{ form.txtEmail.name }}">{{ form.txtEmail.label }}</label>{{ form.txtEmail }}</div>
      <div class="helpRow">{{ form.txtEmail.help_text }}</div>

      <div class="fieldRow"><label for="id_{{ form.txtEmailAgain.name }}">{{ form.txtEmailAgain.label }}</label>{{ form.txtEmailAgain }}</div>
      <div class="helpRow">{{ form.txtEmailAgain.help_text }}</div>

      <div class="fieldRow"><label for="id_{{ form.txtPostAddress1.name }}">{{ form.txtPostAddress1.label }}</label>{{ form.txtPostAddress1 }}</div>
      <div class="helpRow">{{ form.txtPostAddress1.help_text }}</div>

      <div class="fieldRow"><label for="id_{{ form.txtPostAddress2.name }}">{{ form.txtPostAddress2.label }}</label>{{ form.txtPostAddress2 }}</div>
      <div class="helpRow">{{ form.txtPostAddress2.help_text }}</div>

      <div class="fieldRow"><label for="id_{{ form.txtZipCode.name }}">{{ form.txtZipCode.label }}</label>{{ form.txtZipCode }}</div>
      <div class="helpRow">{{ form.txtZipCode.help_text }}</div>

      <div class="fieldRow"><label for="id_{{ form.txtCity.name }}">{{ form.txtCity.label }}</label>{{ form.txtCity }}</div>
      <div class="helpRow">{{ form.txtCity.help_text }}</div>

      <div class="fieldRow"><label for="id_{{ form.txtCountry.name }}">{{ form.txtCountry.label }}</label>{{ form.txtCountry }}</div>
      <div class="helpRow">{{ form.txtCountry.help_text }}</div>

      <div class="fieldRow"><label for="id_{{ form.txtHomePhone.name }}">{{ form.txtHomePhone.label }}</label>{{ form.txtHomePhone }}</div>
      <div class="helpRow">{{ form.txtHomePhone.help_text }}</div>

      <div class="fieldRow">{{ form.chkServiceConditionsAccepted }}<label id="lblServiceConditionsAccepted" for="id_{{ form.chkServiceConditionsAccepted.name }}">{{ form.chkServiceConditionsAccepted.label }}</label></div>
      <div class="helpRow">{{ form.chkServiceConditionsAccepted.help_text }}</div>

      <input type="submit" name="cmdRegister" id="cmdRegister" value="   Register   " />
    </fieldset>
  </form>

{% endblock %}