{% extends "base-template.html" %}



{% block page_title %}Register{% endblock %}



{% block page_scripts_after %}

  $(function() {
    $("#id_cmdRegister").button();
  });
  $(window).load(function() {
    $("#id_txtUserId").focus();
	  $("#id_cmdRegister").click(function() {
	    $("#id_cmdRegister").button("option", "disabled", true);  
	  })
  });

{% endblock %}



{% block page_content %}

  <h1>Register</h1>

  <p>If you want to register into the service, please enter the necessary information below. The fields with a star next to their label are required.</p>

  {% if form.field_errors or form.non_field_errors %}
    <table class="commonFormErrorList ui-state-highlight ui-corner-all">
      {% if form.field_errors %}
        <tr>
          <td><span class="ui-icon ui-icon-info"></span></td>
          <td>
            <span class="errorMessage">
            <strong>To be accepted, the form below is required to be adjusted as follows:</strong>
            <ul>
				      {% for field in form %}
				        {% for error in field.errors %}
				          <li>{{ error }}</li>
				        {% endfor %}
				      {% endfor %}
			      </ul>
			      </span>
	        </td>
	      </tr> 
      {% endif %}
          
      {% for error in form.non_field_errors %}
        <tr><td><span class="ui-icon ui-icon-info"></span></td><td><span class="errorMessage">{{ error }}</span></td></tr>
      {% endfor %}
    </table>
  {% endif %}

  <form id="frmRegister" class="commonForm" method="post" action="/accounts/register/">
    {% csrf_token %}
    
    <div class="formSectionTitle ui-widget-header">Account Information</div>
    <fieldset class="ui-widget-content ui-corner-bottom">
		  <div class="fieldRow"><label class="requiredLabel" for="id_{{ form.txtUserName.name }}">{{ form.txtUserName.label }}<span class="ui-icon ui-icon-star"></span></label>{{ form.txtUserName }}</div>
		  <div class="helpRow">{{ form.txtUserName.help_text }}</div>
		  {% if form.txtUserName.errors %}
			  <div class="errorRow">
		      {% for error in form.txtUserName.errors %}
		        <div class="errorMessage">{{ error }}</div>
		      {% endfor %}
	      </div>
      {% endif %}

      <div class="fieldRow"><label class="requiredLabel" for="id_{{ form.txtPassword.name }}">{{ form.txtPassword.label }}<span class="ui-icon ui-icon-star"></span></label>{{ form.txtPassword }}</div>
      <div class="helpRow">{{ form.txtPassword.help_text }}</div>
      {% if form.txtPassword.errors %}
	      <div class="errorRow">
	        {% for error in form.txtPassword.errors %}
	          <div class="errorMessage">{{ error }}</div>
	        {% endfor %}
	      </div>
      {% endif %}
      
      <div class="fieldRow"><label class="requiredLabel" for="id_{{ form.txtPasswordAgain.name }}">{{ form.txtPasswordAgain.label }}<span class="ui-icon ui-icon-star"></span></label>{{ form.txtPasswordAgain }}</div>
      <div class="helpRow">{{ form.txtPasswordAgain.help_text }}</div>
      {% if form.txtPasswordAgain.errors %}
	      <div class="errorRow">
	        {% for error in form.txtPasswordAgain.errors %}
	          <div class="errorMessage">{{ error }}</div>
	        {% endfor %}
	      </div>
      {% endif %}
    </fieldset>
      
    <div class="formSectionTitle ui-widget-header">Personal Information</div>
    <fieldset class="ui-widget-content ui-corner-bottom">
      <div class="fieldRow"><label class="requiredLabel" for="id_{{ form.txtFirstName.name }}">{{ form.txtFirstName.label }}<span class="ui-icon ui-icon-star"></span></label>{{ form.txtFirstName }}</div>
      <div class="helpRow">{{ form.txtFirstName.help_text }}</div>
      {% if form.txtFirstName.errors %}
	      <div class="errorRow">
	        {% for error in form.txtFirstName.errors %}
	          <div class="errorMessage">{{ error }}</div>
	        {% endfor %}
	      </div>
      {% endif %}
      
      <div class="fieldRow"><label class="requiredLabel" for="id_{{ form.txtLastName.name }}">{{ form.txtLastName.label }}<span class="ui-icon ui-icon-star"></span></label>{{ form.txtLastName }}</div>
      <div class="helpRow">{{ form.txtLastName.help_text }}</div>
      {% if form.txtLastName.errors %}
	      <div class="errorRow">
	        {% for error in form.txtLastName.errors %}
	          <div class="errorMessage">{{ error }}</div>
	        {% endfor %}
	      </div>
      {% endif %}
      
      <div class="fieldRow"><label class="requiredLabel" for="id_{{ form.radGender.name }}">{{ form.radGender.label }}<span class="ui-icon ui-icon-star"></span></label>{{ form.radGender }}</div>
      <div class="helpRow">{{ form.radGender.help_text }}</div>
      {% if form.radGender.errors %}
	      <div class="errorRow">
	        {% for error in form.radGender.errors %}
	          <div class="errorMessage">{{ error }}</div>
	        {% endfor %}
	      </div>
      {% endif %}
      
      <div class="fieldRow"><label class="requiredLabel" for="id_{{ form.txtEmail.name }}">{{ form.txtEmail.label }}<span class="ui-icon ui-icon-star"></span></label>{{ form.txtEmail }}</div>
      <div class="helpRow">{{ form.txtEmail.help_text }}</div>
      {% if form.txtEmail.errors %}
	      <div class="errorRow">
	        {% for error in form.txtEmail.errors %}
	          <div class="errorMessage">{{ error }}</div>
	        {% endfor %}
	      </div>
      {% endif %}
      
      <div class="fieldRow"><label class="requiredLabel" for="id_{{ form.txtEmailAgain.name }}">{{ form.txtEmailAgain.label }}<span class="ui-icon ui-icon-star"></span></label>{{ form.txtEmailAgain }}</div>
      <div class="helpRow">{{ form.txtEmailAgain.help_text }}</div>
      {% if form.txtEmailAgain.errors %}
	      <div class="errorRow">
	        {% for error in form.txtEmailAgain.errors %}
	          <div class="errorMessage">{{ error }}</div>
	        {% endfor %}
	      </div>
      {% endif %}
      
      <div class="fieldRow"><label for="id_{{ form.txtHomePhone.name }}">{{ form.txtHomePhone.label }}</label>{{ form.txtHomePhone }}</div>
      <div class="helpRow">{{ form.txtHomePhone.help_text }}</div>
      {% if form.txtHomePhone.errors %}
        <div id="errorRowHomePhone">
          {% for error in form.txtHomePhone.errors %}
            <div class="errorMessage">{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </fieldset>

    <div class="formSectionTitle ui-widget-header">Delivery Address</div>
    <fieldset class="ui-widget-content ui-corner-bottom">
      <div class="fieldRow"><label for="id_{{ form.txtPostAddress1.name }}">{{ form.txtPostAddress1.label }}</label>{{ form.txtPostAddress1 }}</div>
      <div class="helpRow">{{ form.txtPostAddress1.help_text }}</div>
      {% if form.txtPostAddress1.errors %}
	      <div class="errorRow">
	        {% for error in form.txtPostAddress1.errors %}
	          <div class="errorMessage">{{ error }}</div>
	        {% endfor %}
	      </div>
      {% endif %}
      
      <div class="fieldRow"><label for="id_{{ form.txtPostAddress2.name }}">{{ form.txtPostAddress2.label }}</label>{{ form.txtPostAddress2 }}</div>
      <div class="helpRow">{{ form.txtPostAddress2.help_text }}</div>
      {% if form.txtPostAddress2.errors %}
	      <div class="errorRow">
	        {% for error in form.txtPostAddress2.errors %}
	          <div class="errorMessage">{{ error }}</div>
	        {% endfor %}
	      </div>
      {% endif %}
      
      <div class="fieldRow"><label for="id_{{ form.txtZipCode.name }}">{{ form.txtZipCode.label }}</label>{{ form.txtZipCode }}</div>
      <div class="helpRow">{{ form.txtZipCode.help_text }}</div>
      {% if form.txtZipCode.errors %}
	      <div class="errorRow">
	        {% for error in form.txtZipCode.errors %}
	          <div class="errorMessage">{{ error }}</div>
	        {% endfor %}
	      </div>
      {% endif %}
      
      <div class="fieldRow"><label for="id_{{ form.txtCity.name }}">{{ form.txtCity.label }}</label>{{ form.txtCity }}</div>
      <div class="helpRow">{{ form.txtCity.help_text }}</div>
      {% if form.txtCity.errors %}
	      <div class="errorRow">
	        {% for error in form.txtCity.errors %}
	          <div class="errorMessage">{{ error }}</div>
	        {% endfor %}
	      </div>
      {% endif %}

      <div class="fieldRow"><label for="id_{{ form.cmbState.name }}">{{ form.cmbState.label }}</label>{{ form.cmbState }}</div>
      <div class="helpRow">{{ form.cmbState.help_text }}</div>
      {% if form.cmbState.errors %}
        <div class="errorRow">
          {% for error in form.cmbState.errors %}
            <div class="errorMessage">{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}
      
      <div class="fieldRow"><label for="id_{{ form.cmbCountry.name }}">{{ form.cmbCountry.label }}</label>{{ form.cmbCountry }}</div>
      <div class="helpRow">{{ form.cmbCountry.help_text }}</div>
      {% if form.cmbCountry.errors %}
	      <div class="errorRow">
	        {% for error in form.cmbCountry.errors %}
	          <div class="errorMessage">{{ error }}</div>
	        {% endfor %}
	      </div>
      {% endif %}
    </fieldset>

    <div class="formSectionTitle ui-widget-header">Confirmation</div>
    <fieldset class="ui-widget-content ui-corner-bottom">
      <div class="infoRow">
        The Terms and Conditions of Albumizer&reg; Service contain important information about using the Service,
        including your rights and obligations. Also, the Privacy Policy of Albumizer&reg; Service describes how
        the information you give to the Service is handled. These documents must be read, fully understood and
        accepted before using this Service.
      </div>
      <div class="fieldRow">{{ form.chkServiceConditionsAccepted }}<label id="lblServiceConditionsAccepted" class="requiredLabel" for="id_{{ form.chkServiceConditionsAccepted.name }}">{{ form.chkServiceConditionsAccepted.label }}<span class="ui-icon ui-icon-star"></span></label></div>
      <div class="helpRow">{{ form.chkServiceConditionsAccepted.help_text }}</div>
      {% if form.chkServiceConditionsAccepted.errors %}
	      <div id="errorRowServiceConditions">
	        {% for error in form.chkServiceConditionsAccepted.errors %}
	          <div class="errorMessage">{{ error }}</div>
	        {% endfor %}
	      </div>
      {% endif %}
      
      <input type="submit" name="cmdRegister" id="id_cmdRegister" value="Register" />
    </fieldset>
  </form>

{% endblock %}